[2014-07-18 15:03] dpsnowden opened #1 "Example data in the repo"
Can we create a /examples or /data directory and populate it with a couple files of real data?  Some people have had difficulty using the ncml template with tools (e.g. toolsUI or Matlab) and want to look at real data to learn the format.  3 or 4 examples of the individual profile files should be fine.

[2014-07-18 15:06] dpsnowden opened #2 "Rename the file format"
I think the filename of the template is potentially confusing.  Suggest removing "_Flat_".  https://github.com/kerfoot/ioosngdac/blob/master/util/createIoosGliderNcTemplate.py#L62

If this is the template that all data providers should comply with then we should remove the details of how it was derived or how it relates to historical (i.e. non-flat) versions of the template.  I think sticking with

[2014-07-23 13:33] #2 closed, assigned to kerfoot

[2014-07-23 20:11] #1 closed, assigned to kerfoot

[2014-09-11 20:12] BeckyBaltes opened #3 "Typo in the Operators List"
In looking at the ioos.gliders.us site, I saw that North Carolina State University has a typo, "Caroline" instead of "Carolina".

Thanks,
Becky

[2014-09-11 20:15] BeckyBaltes opened #4 "RU Nomenclature"
In reviewing some of the files Derrick and I have noticed that some of the files have RU nomenclature and Scott Glenn's name in them even though they are from other universities. The file name is correct, but the wording is inside the file.  I will list the files in the future as I come across them, but if there is something in the process of building the files that should be adjusted, can we make

[2014-10-06 21:05] BeckyBaltes opened #6 "AOML Glider Data delivery to DAC"
Derrick sent out an email to the data group to figure out what needs to happen to get the data from the AOML gliders operating in the Carribean into the DAC.  My understanding was that John needed to review the file format.  @kerfoot, can you report on the status?  If done, what are the next steps?

[2014-10-07 18:19] kknee opened #7 "Add Backup and Recovery Documentation to Wiki"
@lukecampbell or @DanielJMaher please add documentation on automated installations and data backup/recovery to the Wiki.

Probably as new page here: https://github.com/ioos/ioosngdac/wiki, with associated link in main TOC.

@kerfoot if you have suggestions about where this content should go, please let us know.

[2014-10-07 21:21] BeckyBaltes opened #8 "Scripps data going to DAC"
Does the current ERDDAP arrangement send the Scripps glider data to the DAC in addition to GTS?  I only see one Scripps file, which is not from the west coast, in the catalog.  Should I add this as another data set milestone or is this ready? @kerfoot @kknee

[2014-10-13 20:30] #7 closed, assigned to DanielJMaher

[2014-10-14 14:50] BeckyBaltes opened #9 "GERG Gliders missing from Glider catalog"
On the gliders.ioos.us site, I see 3 GERG deployments, but none of them are in the catalog.  What needs to happen for them to show up in the catalog?  @kerfoot do you have to manually do something? If so, can this be automated?

@kknee: I'll just include you on all of these for your awareness for now unless you rather I not.

[2014-10-14 15:14] #9 closed, assigned to nobody

[2014-10-14 15:25] BeckyBaltes opened #10 "WHOI deployments on the catalog?"
@kerfoot: It looks like WHOI is a provider with Saul and WHOI 406, but you were the contributor for them.  Are these on the catalog?  If so, are they labeled RU or WHOI?

@kknee: FYSA

[2014-10-15 19:09] BeckyBaltes opened #11 "Compile Glider DAC v2.0 requirements so that we can estimate the work needed for Glider checks"
@kknee:  This task is in the Compliance Checker repo, but I wanted to capture it here too for @kerfoot  awareness and planning so it gets included.  Per @dpsnowden:   Once Kelly and John are certain that the ioos/ioosngdac file description is accurate, we need to include this in our release planning for the next phase of development. I expect that there will be other more granular issues all attac

[2014-10-28 09:12] rsignell-usgs opened #12 "Is the netCDF format version 2 documentation on the wiki up to date?"
I'm here at NATO and working with the glider team.  Is the documentation on the wiki (e.g. here: https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2) up to date?
Thanks, Rich

[2014-10-28 12:41] #12 closed, assigned to nobody

[2014-10-29 17:43] robragsdale opened #13 "Register Glider DAC WAF"
@lukecampbell If creating a Web Accessible Folder that contains the gliders metadata is an option then NGDC could harvest directly from the folder.  I would still need to register that url, but then NGDC would harvest from that folder each night.  Maybe this is something to consider, but it puts more onus on you.  It could mean that we wouldn't need to generate an email although their seemed to be

[2014-10-30 16:00] kknee opened #14 "Add 2012 University of Michigan data to DAC 2.0"
These are sample files from Russ Miller, data and metadata has already been provided.  @kerfoot can you provide an estimate of when this might make it in?

[2014-10-30 20:16] BeckyBaltes opened #15 "Test"
Steps for a new deployment from a new user
- [x] Sample file received from user
- [x] WMO ID assigned
- [x] Visual Inspection
- [x] netCDF compliance
- [x] test on internal DAC

[2014-10-30 20:17] #15 closed, assigned to nobody

[2014-11-03 18:05] robragsdale opened #16 "Scripps glider data going DAC"
@bobsimons what is the status of the next ERDDAP release (glider dac 2.0)?
@Lukecampbell @kerfoot, @bobsimons is sending all of Scripps Glider data to the [Glider DAC](http://gliders.ioos.us/) independent of the DAC 2.0 work.  These Scripps gliders' are not in the Registry/Catalog data.  We should be able to register these if you can send the service URL where these data sets are  going? Right?  W

[2014-11-03 18:40] #16 closed, assigned to nobody

[2014-11-03 18:47] dpsnowden opened #17 "Deploy ERDDAP at glider DAC with all 2.0 files"
@kerfoot and @lukecampbell, I'm starting this issue to track the progress and outstanding actions in deploying ERDDAP to the glider DAC servers.  We need a date by which this will happen soon.

@BobSimons,  FYI.
@kknee I assigned this to you for your awareness, reassign to whoever makes sense.

We have currently...
1. The development [ERDDAP at rutgers](http://erddap.marine.rutgers.edu/erddap/info

[2014-11-03 20:01] BeckyBaltes opened #18 "Timeline for 2.0 to 1.0 Converter"
@kknee, @lukecampbell:  What kind of timeline do you need to develop the 2.0 to 1.0 converter so new files can go to GTS?

[2014-11-03 21:07] kknee opened #19 "Provide DAC2.0 Server Details to NDBC"
Requested by Walt McCall for finalizing process for ingesting to GTS.

@lukecampbell @kerfoot are we ready to share these details?  If so, can one of you assign yourself to the issue and follow up with NDBC?

[2014-11-04 14:54] kerfoot opened #20 "Handling of real-time vs delayed mode datasets"
We need to address the potential for a user to add delayed mode .nc files to the same directory as the real-time files.  This will create duplicate data, potentially causing problems for the aggregation.

Should we ask the data providers to create separate deployments for the realtime and delayed mode or delete real-time files once we see a delayed mode file hit the ftp server?

[2014-11-04 17:17] lukecampbell opened #21 "Error processing AOML Data"
While in the course of processing the data provided by AOML, Private ERDDAP is reporting the following exception:

[code]

I am in the process of investigating.

[2014-11-04 18:01] robragsdale opened #23 "Unable to add Wiki page"
Could the person that created this repository add me, I think, as a member?  It appears that I do not have access to create a Wiki page.  Unfortunately, after creating a Wiki page on my own repository I discovered that Github does not support pull requests of the Wiki repository.  If there is a way, please chime in.

[2014-11-04 18:42] #21 closed, assigned to nobody

[2014-11-04 18:43] lukecampbell opened #25 "SOS on Glider-DAC 2 has caching bug"
We're experiencing another case of this documented bug:
https://github.com/asascience-open/ncSOS/issues/140

[2014-11-04 18:48] #23 closed, assigned to nobody

[2014-11-06 22:02] dpsnowden opened #26 "Create Web Accessible Folder containing ISO records"
To circumvent the catalogRef issue @robragsdale mentioned we can just create a folder with all of the ISO documents and register that with EMMA.  The WAF must be updated regularly.

Before doing this we need to make a decision on whether to register the ISO as published by THREDDS or the ISO published by ERDDAP or both.  I'm honestly not sure of the best solution.  My gut says use the ERDDAP WAF s

[2014-11-10 20:28] kerfoot opened #27 "create new deployment removing dashes from deployment name"
@lukecampbell The dash in unit_236-20121005T2349 is being stripped out of the deployment name when the deployment is created at: http://54.91.88.156/.  So the deployment name looks like this:

unit_23620121005T2349
instead of:
unit_236-20121005T2349

[2014-11-14 18:30] #27 closed, assigned to nobody

[2014-11-18 13:56] lukecampbell opened #28 "Users Database keeps getting erased"
Periodically and for a reason that isn't apparent yet the user.db file keeps getting erased.

This bug will track progress toward:
- [x] Identify what is causing the file to get erased
- [x] Schedule regular backups of the database.

[2014-11-18 14:03] lukecampbell opened #29 "Uploaded Datasets and Institution"
The AOML datasets are listed as part of Rutgers and the operator is a person not an institution, so I need to take a look at those connections and check that either the User account metadata is correct or that the templates are correct.

[2014-11-18 16:00] #26 closed, assigned to nobody

[2014-11-18 19:33] #14 closed, assigned to kerfoot

[2014-11-21 22:06] kknee opened #31 "Obtain UUID for Glider DAC 2.0"
@robragsdale will follow up with NGDC.

Related to https://github.com/ioos/catalog/issues/323

[2014-11-21 22:07] kknee opened #32 "Update TDS restart schedule"
from 1x/hr to 4x/day

[2014-11-21 22:07] kknee opened #33 "Update Wiki Documentation"

[2014-11-21 22:08] kknee opened #34 "Follow up with next set of data providers on testing DAC 2.0 ingest process"
ID'ed as USF and Bob Simmons

[2014-11-24 14:08] lukecampbell opened #35 "DAC Failed to ingest rutgers gliders"
The files made it through private erddap but didn't get through public erddap.

The file is available for download from private but the data processing scripts didn't download it into the public erddap input directory.

[2014-12-01 13:52] lukecampbell opened #36 "WAF generation from THREDDS use the latest UnidataDD2MI.xsl"

[2014-12-01 15:17] #29 closed, assigned to nobody

[2014-12-01 15:29] #28 closed, assigned to nobody

[2014-12-01 15:47] #35 closed, assigned to lukecampbell

[2014-12-01 20:19] kerfoot opened #38 "Prevent creation of duplicate deployments"
@lukecampbell I noticed that it's currently possible to create an arbitrary number of deployments with identical names, ie:

ru99-20150101T0000

I was able to create this deployment multiple times and each of them were listed as individual deployments.  I did notice, however, that when I deleted one of the deployments, all deployments with the same name were deleted.

Need a fix for this.

[2014-12-02 18:53] #25 closed, assigned to lukecampbell

[2014-12-03 16:41] dpsnowden opened #39 "Update Contact info to also include main technical mailing list vice individual email/contact."
See https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Submission-Process for example.  We should at least have ioos.glider.data@noaa.gov in addition to @kerfoot's contact info, if not instead of.

[2014-12-03 16:48] #39 closed, assigned to nobody

[2014-12-05 17:44] lukecampbell opened #40 "Update catalog structure to prevent high frequency thredds restarts"

[2014-12-05 17:44] #32 closed, assigned to lukecampbell

[2014-12-05 17:45] #13 closed, assigned to robragsdale

[2014-12-05 17:50] #36 closed, assigned to nobody

[2014-12-08 16:00] #31 closed, assigned to robragsdale

[2014-12-08 16:00] kknee opened #41 "Landing page for data.ioos.us/gliders"

[2014-12-09 15:02] kerfoot opened #42 "Estimated Deployment Date removed when deployment set to Complete"
When I go to a deployment and fill out the metadata, then check the Complete button, the Estimated deployment date information is removed.

[2014-12-09 17:49] duncombe opened #43 "Link to glider dac from README"
There should be a prominent link near the top of both the README.md and the home wiki page to the home page of the glider dac website, and the top level catalog page.

[2014-12-10 20:45] #8 closed, assigned to nobody

[2014-12-10 21:00] #6 closed, assigned to kerfoot

[2014-12-17 20:51] #38 closed, assigned to lukecampbell

[2014-12-18 14:38] #42 closed, assigned to lukecampbell

[2014-12-19 13:57] kerfoot opened #44 "Deployments not making it to public ERDDAP"
The following deployments have not made it to the public erddap end point:

http://54.91.88.156/users/rutgers/deployment/54870de6d24895413f2ae38d
http://54.91.88.156/users/rutgers/deployment/5492e61cd248955ac2d6e2f4
http://54.91.88.156/users/rutgers/deployment/5492e75ad2489542cb8d3ecf

The NetCDF files have been uploaded, so the data sets should be there.

[2015-01-08 19:49] lukecampbell commented on #44
Seeing these has led me down a hypothesis as to what is causing these hiccups. The first one has a lot of files that were all uploaded it looks like within one hour. I suspect that ERDDAP is trying to create the in-memory dataset or maybe an index of it, but it's unable to do so within the meager 30 seconds that the scripts expect.

[2015-01-08 20:05] lukecampbell commented on #44
Well that wasn't it :\

[2015-01-08 20:17] lukecampbell commented on #44
Ok, so these two new ones are all set.

[2015-01-08 20:17] #44 closed

[2015-01-13 15:30] robragsdale opened #45 "Rutgers Gliders not showing up in ERDDAP or THREDDS"
@kerfoot @lukecampbell I checked for the 5 Rutgers gliders in the Arctic.  It does not appear that they made it into DAC v2,0, in either the [TDS](http://tds.gliders.ioos.us/thredds/catalog.html) or [ERDDAP](http://data.ioos.us/gliders/erddap/info/index.html?page=1&itemsPerPage=1000).  I checked the [WAF](http://data.ioos.us/gliders/metadata/) and it had not made it there either.

[ru05-442](http:

[2015-01-13 18:59] dpsnowden commented on #45
Just FYI, you're mixing the version 1.0 TDS with the version 2.0 ERDDAP.
Not sure if you were aware but the version 2.0 TDS is at
data.ioos.us/gliders/thredds.

I realize this doesn't answer your question though.

On Tue, Jan 13, 2015 at 10:30 AM, robragsdale <notifications@github.com>
wrote:

--
Derrick Snowden
Chief, Operations and Communications Division
NOAA/NOS/US Integrated Ocean Observing S

[2015-01-13 19:02] lukecampbell commented on #45
@kerfoot could you verify that they were uploaded?

[2015-01-13 19:02] kerfoot commented on #45
I ran into some issues posting the data sets.  Am in the process of trying
to resolve.

John

On Tue, Jan 13, 2015 at 10:30 AM, robragsdale <notifications@github.com>
wrote:

[2015-01-13 19:03] kerfoot commented on #45
They have NOT been uploaded yet.

On Tue, Jan 13, 2015 at 2:02 PM, Luke Campbell <notifications@github.com>
wrote:

[2015-01-13 19:30] robragsdale commented on #45
Thanks for the update @kerfoot.  I copied the wrong TDS url.  I am aware of TDS 2.0 and the url.

[2015-01-20 11:46] kerfoot opened #46 "DAC 2.0 THREDDS dataset display order"
Datasets should be displayed in increasing lexigraphic order.

[2015-01-22 18:22] dpsnowden commented on #41
This is part of the overall consolidation of various pages focused on gliders.  The future of data.ioos.us/gliders and catalog.ioos.us/gliders are probably one and the same.

[2015-02-09 15:30] #45 closed

[2015-02-09 15:32] lukecampbell commented on #40
I was almost absolutely certain this was resolved but I can't find the changes in my branches, on my machine(s) and on production so it doesn't matter how certain I am, it's not there so I'm going to take a look at that.

What I did was added a deployments dataset scan that just looked in `/data/data/thredds` but I think somewhere during the git pulls that are automated the changes were blown away

[2015-02-13 12:24] kerfoot commented on #40
@lukecampbell Still seems to be an issue as the most recent deployment:
http://54.91.88.156/deployment/54dce576d24895167773083f
was created yesterday, yet there is still no THREDDS end point after about 20 hrs.

[2015-02-20 13:52] kerfoot commented on #43
Links will be added when the DAC goes live.

[2015-02-20 13:52] #43 closed

[2015-02-20 13:53] kerfoot commented on #19
From Walt McCall at NDBC (via email) on 2014-02-19
While we are not fully implemented. We have finished enough testing to say that we are using the new system and will not use DAC 1.0 anymore. If we run into any issues, we will correct them rather than default to the old server.

Walt

[2015-02-20 13:53] #19 closed

[2015-02-20 13:54] #4 closed

[2015-02-20 13:54] #3 closed

[2015-02-20 13:54] #10 closed

[2015-02-23 18:58] BeckyBaltes opened #47 "Catalog dataset mislabeled"
Kelli Page (GLOS Director) checked out the catalog and noticed that the lone GLOS dataset has John Kerfoot as the platform sponser. Can you update it?  @lukecampbell @kerfoot  I assume this is the Russ Miller set.

http://catalog.ioos.us/datasets/542365c446a46b7a7321520a

[2015-02-23 19:02] kerfoot commented on #47
Not sure where that metadata is coming from as the NetCDF files contain the proper attribution:

http://data.ioos.us/gliders/erddap/tabledap/unit_236-20121005T2349.html

maybe this catalog entry was from an old dataset?

[2015-02-23 19:23] robragsdale commented on #47
@kerfoot You are identified in the [file](http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/Glider_DAC/iso_u/xml/unit_236-20121005T2349.nc3.nc.thredds.xml) registered in the DAC WAF as the Responsible Party.  I don't know whether this is being translated to Platform sponsor.  This is from the xml.
<gmd:citedResponsibleParty>
<gmd:CI_ResponsibleParty>
<gmd:individualName>
<gco:CharacterString>J

[2015-02-23 19:29] kerfoot commented on #47
I'm not sure where that file/entry came from.  The metadata taken directly from the files uploaded to the DAC has the proper attribution (ie: GLOS, summary, etc):

http://data.ioos.us/gliders/erddap/tabledap/unit_236-20121005T2349.html

[2015-02-23 22:04] BeckyBaltes commented on #47
The link you have attached has your name in it though.  Where is it listed correctly?

[2015-02-23 22:22] kerfoot commented on #47
It has my name in it because I did the data processing and wrote the
files.  But institution and summary as well as other contributors are all
correctly identified as GLOS.

On Mon, Feb 23, 2015 at 5:04 PM, BeckyBaltes <notifications@github.com>
wrote:

[2015-02-24 19:38] lukecampbell opened #48 "Once complete is checked it is impossible from the UI to mark a deployment as not-complete."

[2015-02-27 21:02] BeckyBaltes commented on #47
I notified Kelli.

[2015-02-27 21:02] #47 closed

[2015-03-02 17:21] lukecampbell opened #49 "Update ERDDAP"

[2015-03-24 14:18] lukecampbell opened #50 "OSMC Interface"
http://osmc.noaa.gov/erddap/tabledap/OSMCV4_DUO_PROFILES.htmlTable?platform_code,platform_type&platform_type=%22GLIDERS%22&time%3E=2015-03-17T00:00:00Z&distinct()&orderBy(%22platform_code,platform_type%22)

[2015-03-24 18:13] #40 closed

[2015-03-27 15:46] lukecampbell opened #51 "Provider support for submitting data"
We're waiting on support from the provider for submitting the data.

[2015-04-03 20:37] RussellSenior opened #52 "latitude_qc -> lat_qc?"
There are a number of instances where the variable name latitude_qc appears where lat_qc was perhaps intended:

[code]

Also on the wiki:

[code]

Similarly for longitude_qc:

[code]

[2015-04-20 18:51] kerfoot opened #53 "Allow registered providers to delete their own deployments"
@lukecampbell : Can we allow registered data providers to delete their own deployments?

[2015-05-15 11:39] kerfoot commented on #17
closed

[2015-05-15 11:39] #17 closed

[2015-05-26 16:42] rsignell-usgs opened #55 "Allow custom bounding box search"
In addition to choosing by provider region from a dropdown, would it be possible to select by rubberbanding a region to find glider data in?    I might want to find glider data in long island sound, but perhaps I'm not sure what region that is in.   (actually, I think it's in both NERACOOS and MARACOOS).

Is it okay to raise issues like this here?

![5-26-2015 12-42-32 pm](https://cloud.githubuser

[2015-05-26 20:44] kerfoot commented on #55
Hi Rich,

I think it's fine to use this email for requests.  We're looking for as much feedback and suggestions that we can get.  We have typically used github issues for this in the past.  I can add you as a collaborator if you'd like?

Let's discuss this more over the next couple of days at the DMAC meeting.  I am looking to getting some feedback and suggestions now that the DAC is relatively st

[2015-05-27 18:53] rsignell-usgs opened #56 "Harmonize global attributes between IOOS and EGO"
The European Glider Organization Users Manual v1.1 is here:
http://dx.doi.org/10.13155/34980

It would be nice to harmonize the global attribute information between EGO and IOOS in some future version of EGO or IOOS.

[2015-05-27 19:01] kerfoot commented on #56
@rsignell-usgs : at first glance, I think we're pretty close (i.e.; wmo_platform_code vs wmo_id, area vs sea_name).  Shouldn't be a problem to reconcile moving forward.  But I'm wondering: how to handle datasets that have already been submitted?

[2015-05-27 20:58] rsignell-usgs commented on #56
Yes, pretty close!   Maybe we could just convince EGO to change in their next version.  :grinning:

[2015-05-28 17:46] shane-axiom opened #57 "Profile file name timestamps in UTC?"
This is pretty trivial, but I try to point it out whenever I see it. The timestamps in the profile file names don't have a Z to indicate that they're in UTC. I'm assuming they're in UTC and not local time, but it would be nice to include the Z to make it unambiguous.

If this is documented somewhere or unimportant, I won't be offended if this issue is declined. Just wanted to mention it...

[2015-05-28 18:44] kwilcox opened #58 "How to tell if an aggregation was updated"
I've found it difficult to determine when data from a glider deployment has became available or been updated. The individual dive files are not available for download (that I could find) and scraping each deployment page looking for new or changed files seemed hacky and prone to break. I fell back to querying the DAP time variable for new timesteps. Not a terrible solution but it does not allow me

[2015-05-28 19:02] kerfoot commented on #58
I typically do this by hitting the RSS feed for each deployment:

http://data.ioos.us/gliders/erddap/rss/UCSC294-20150430T2218.rss

You can get the list of RSS feed urls by hitting this link:

http://data.ioos.us/gliders/erddap/tabledap/allDatasets.json

John

[2015-05-28 19:18] kwilcox commented on #58
@kerfoot this is perfect, thanks

[2015-05-29 02:02] kerfoot commented on #57
Hadn't thought about this since I always use and assume UTC.  I updated the wiki with this convention.  Thanks.

[2015-05-29 02:02] #57 closed

[2015-05-29 13:52] lukecampbell opened #59 "Center Summary map based on client timezone"

[2015-06-30 00:43] kknee opened #60 "Provide Expected Standard Names List to NDBC"
John will provide Tom with a list of the standard names that we expect to see over the next five years.  Tom will handle anything outside this list on his end

[2015-06-30 00:44] kknee opened #61 "Add file naming convention to NDBC GDAC Doc"
John will add the file naming convention to the Google Doc, in response to Question 4

[2015-06-30 00:46] kknee opened #62 "Add pull down menu of Glider types to the UI"

[2015-06-30 00:46] kknee opened #63 "Add Glider name to JSON"
Add a form element so providers enter the name of the glider for new deployments, pull from data to backfill names for existing files

[2015-06-30 00:47] kknee opened #64 "List of data provider contacts"
John will make a list of data provider contacts available to Tom

[2015-06-30 00:48] kknee opened #65 "Provide file access to NCEI"
FTP won't work.

Tom is looking into whether SSH will be okay with NCEI  Alternatively, we could provide a WAF and include the MD5 files

[2015-06-30 01:18] kknee opened #66 "Implement MD5 sums to ensure integrity for each file"
MD5 sums will be used to ensure integrity for each file – when these files appear, NDBC will know the data is ready for archiving.  Will also look into creating a directory with dynamic links to highlight when new files are available for archiving

The creation of these will be dependent on providers  clicking ‘deployment completed’ when the deployment is finished.

[2015-06-30 01:19] kknee opened #67 "Run GliderDAC checker on existing files"
or manually inspect, as appropriate

[2015-07-07 13:56] #11 closed

[2015-07-07 14:44] kerfoot opened #68 "Can't add WMO id after creating a deployment"
I'm trying to add the WMO id for the following deployment:

http://data.ioos.us/gliders/providers/users/rutgers/deployment/555616f5dd5fa9082ee3f17a

but there's not input box.

[2015-07-07 14:45] kerfoot commented on #68
Also, I'm unable to mark deployments as complete.  The checkbox is disabled.

[2015-07-07 14:49] kerfoot opened #69 "Invalid Glider DAC link in navbar"
The link to the glider DAC ("Glider DAC v2") points to:

http://data.ioos.us/providers/

it should point to:

http://data.ioos.us/gliders/providers/

[2015-07-07 15:18] kerfoot commented on #60
Done:

https://github.com/ioos/ioosngdac/blob/master/doco/standard_names.txt

Will add new standard names as they become available.

[2015-07-07 15:18] #60 closed

[2015-07-07 18:13] kknee commented on #69
The broken link is in the nav bar here: http://data.ioos.us/gliders/providers

[2015-07-07 18:14] lukecampbell commented on #69
![screen shot 2015-07-07 at 2 13 51 pm](https://cloud.githubusercontent.com/assets/1155163/8553580/6d8e3d22-24b2-11e5-862c-0947517e7727.png)

[2015-07-07 18:14] lukecampbell commented on #69
Sorry, I thought this was the proxy thing.

[2015-07-07 23:42] RussellSenior opened #70 "standard-name sea_water_salinity vs sea_water_practical_salinity"
I was just reading http://cfconventions.org/Data/cf-standard-names/27/build/cf-standard-name-table.html for sea_water_salinity and the guidance there suggests that the preferred standard name for modern measurements is sea_water_practical_salinity, which in turn says:  "[sea_water_practical_salinity] should be used to describe salinity observations made from 1978 onwards (Practical Salinity is the

[2015-07-13 15:30] kerfoot commented on #70
@RussellSenior Change made and new .nc, .cdl and .ncml templates commited:

https://github.com/ioos/ioosngdac/commit/fbd5e0e98b08dbf303268c1e78e394079e0a4666

[2015-07-13 15:30] #70 closed

[2015-07-14 18:50] lukecampbell commented on #68
Can you verify that you're logged in as an administrator?
![screen shot 2015-07-14 at 2 50 04 pm](https://cloud.githubusercontent.com/assets/1155163/8681809/ac36c24e-2a37-11e5-86df-849c849628c0.png)

[2015-07-14 18:51] #66 closed

[2015-07-14 18:51] #65 closed

[2015-07-14 19:05] #69 closed

[2015-07-14 19:46] lukecampbell commented on #67
I ran it on the existing files, but we want to check the data provider provided profiles now.

[2015-07-29 14:28] #64 closed

[2015-07-29 14:29] #61 closed

[2015-07-29 17:43] kknee opened #73 "Automate creation of Glider ID"
For now just consider the LOE required to request glider name and start time separately from the provider and create the ID ourselves -

Requires:
UI Updates
DB Updates
Script Updates

[2015-07-29 17:43] kknee opened #74 "Notify NCEI of new institutions - automatically"

[2015-07-29 17:44] kknee opened #75 "Add sample Summary to Wiki"

[2015-08-05 15:44] kknee commented on #20
This issue needs to be revisited relative to NCEI archiving

[2015-08-11 14:51] robragsdale opened #76 "Running checker on AOML data to submit"
Francis Bringas corrected issues with their nc files so they should now be compatible with the glider DAC format requirements.

Could @lukecampbell please check that this new file is compliant? (See attachment in email sent on 8/10) The corresponding 'OLD' file is also in attachment to compare.

Francis will try to install the IOOS compliance checker but it may take some time until I have that pro

[2015-08-29 13:31] kerfoot opened #77 "deployment registration date input placeholder value"
Change the placeholder value for 'Deployment Date' to the recommended format string: YYYY-MM-DD HH:mm

[2015-08-30 21:46] kwilcox commented on #77
Ijgurgh Jun

[2015-08-31 14:25] kwilcox commented on #77
My phone went crazy... sorry about that...

[2015-08-31 17:37] kwilcox commented on #58
@kerfoot @lukecampbell @kknee The RSS feeds are showing updated timestamps for every deployment. They are constantly updated even though there is no new data.

Example: http://data.ioos.us/gliders/erddap/rss/ru24-20130122T1943.rss, yet the dataset hasn't been actually updated in years.

[2015-08-31 17:40] kerfoot commented on #58
@kwilcox : The <description></description> tag will tell you.  Anything aside from:

<description>The dataset was reloaded.</description>

means the dataset has been modified (data added, removed, etc), not just reloaded.

[2015-08-31 17:42] kwilcox opened #78 "`completed` flag not carried over to ERDDAP"
I'm trying to determine which glider deployments are `completed`.  I can see the `completed` flag is part of the internal Glider DAC data model (https://github.com/ioos/glider-dac/blob/master/glider_dac/models/deployment.py#L28) but can not find this information in the data provided through ERDDAP.

[2015-08-31 17:47] kerfoot commented on #78
It's not anywhere in the ERDDAP datasets.  It's primarily used for NCEI archiving purposes.  When the user marks the deployment as complete, an MD5 sum is generated for the datasets.  NCEI has a ssh login that allows them to log in and find all datasets that have an MD5.  If they find the 2 files, they archive the deployment.

[2015-08-31 17:52] kwilcox commented on #78
I'd also like to do some post-processing on deployments that are `completed`.  Is it possible to add it as a new global attribute in the publicly accessible dataset(s)?

[2015-08-31 18:31] kwilcox commented on #58
@BobSimons Is this something you would be willing to make available elsewhere in ERDDAP?  Maybe a column in the http://data.ioos.us/gliders/erddap/tabledap/allDatasets.json response called `last_modified` or `last_updated`?  If I'm missing a way to extract this information from ERDDAP please let me know!

[2015-08-31 18:45] kwilcox opened #79 "Garbled characters in some global attributes (encoding issue)?"
Some datasets coming from ERDDAP and THREDDS contains garbled characters in the global attributes. All of the cases I have found are from the word `Ad��lie`

Example `ru05-20150105T1600`, the global attribute `summary`.

http://data.ioos.us/gliders//thredds/dodsC/deployments/rutgers/ru05-20150105T1600/ru05-20150105T1600.nc3.nc.html
http://data.ioos.us/gliders/erddap/tabledap/ru05-20150105T1600.htm

[2015-08-31 19:06] kwilcox opened #80 "Inconsistent use of the `sea_name` global attribute"
`sea_name` is listed as a required global attribute: https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2#description--examples-of-required-global-attributes

These datasets do not have a `sea_name` global attribute:

[code]

[2015-08-31 19:08] kwilcox opened #81 "Inconsistent use of `id` global attribute"
The `id` global attribute should not include the "Z" after the timestamp, but the following deployments do:

[code]

[2015-08-31 19:11] kwilcox opened #82 "Some datasets have the default "filler" summary global attribute"
`This is a summary of the Originator, Group, Mission whatever` is in:

[code]

[2015-08-31 19:23] kerfoot commented on #79
This is my dataset and I'm guessing I copied and pasted the summary from a word doc to the CDL.  Will check on this and update.

[2015-08-31 19:23] BobSimons commented on #58
In ERDDAP, you should never have to scrape a web page. The information is
almost always available in more computer program/script friendly formats.

---
Since you want the different values for the different trajectories, I think
what you want is a request like this (on my ERDDAP):
http://coastwatch.pfeg.noaa.gov/erddap/tabledap/scrippsGliders.htmlTable?trajectory,time&time%3E=now-2days&orderByMax(

[2015-08-31 19:25] kerfoot commented on #82
@kwilcox : yes, these are all from the same data provider and I've tried to stress the importance of a well-worded summary.  We've had numerous discussions about this and decided that we can't enforce the content of the attributes, just that they are there.

[2015-08-31 19:25] #82 closed

[2015-08-31 19:28] kerfoot commented on #80
We're in the process of running the IOOS NetCDF compliance checker on files prior to them being posted to the DAC, but have not yet implemented it.  When implemented (soon, hopefully), this should reject a file if it's missing a required global/variable attribute.

[2015-08-31 20:27] kwilcox commented on #58
@BobSimons Thanks for the reply, very informative. Your first solution would work in the case where I was only looking for "new" data being appended to the `time` variable, but I am also looking to capture updates to the dataset (for example, qa/qc refinements for past timesteps).

Your second approach would work, except the Glider DAC updates the NetCDF files that feed ERDDAP every 30 minutes or

[2015-08-31 20:37] BobSimons commented on #58
You want to know if there have been changes to the underlying source files?
Look at the underlying source files.

The aggregation process ignores a lot of information. For example, every
source file may have a global attributed of "x", but only 1 value makes it
to the aggregated dataset, and it may be fixed in datasets.xml. By their
nature, aggregated datasets deal with the aggregation. If you wan

[2015-08-31 20:47] kwilcox commented on #58
Closing, the RSS approach, while hacky, will work.

[2015-08-31 20:50] kerfoot commented on #58
The only thing I'd add to this approach is that you need to check within the specified ERDDAP dataset scan interval.  For example, if a dataset is changed and you hit the RSS feed prior to the next scan time, you will see something other than 'Dataset reloaded'.  But, the next time ERDDAP scans and no changes were made to the underlying files, you'll get the 'Dataset reloaded' <description /> mess

[2015-08-31 21:00] kwilcox commented on #58
@kerfoot Oh boy.  Theoretically someone else could generate the "changed" message everytime and I could always see the "dataset reloaded" message and never know anything changed. For now I will just download every dataset everytime, but that's lots of extra bandwidth going to and from AWS (your hosting) that could be avoided if something could tell me when the underlying files were actually update

[2015-08-31 21:07] BobSimons commented on #58
I think there may be some misunderstanding about the RSS feed. It always
shows the latest changed information. A request to RSS doesn't reset that
info.

I see how RSS might not give you what you want. So don't use it. Use the
subscription system instead and get an email/ping *every* time there is a
change to the dataset.  The subscription system is vastly more efficient
(since 1 change -> 1 email

[2015-09-02 15:19] kknee commented on #80
@kerfoot will contact these data providers to add this attribute in the interim.

[2015-09-02 15:24] kknee commented on #81
This is an artifact of a temporary naming convention change.  @kerfoot and @lukecampbell will work to update these files.

[2015-09-02 15:44] kwilcox opened #83 "Some deployments not including all of the `precise` location data"
Some deployments do not include `precise_lat` and `precise_lon` values for the majority of the timesteps.  I'm assuming this is because the precise location isn't actually known when the glider is underwater. Example: `sp030-20140813T1713`
![2015-09-02](https://cloud.githubusercontent.com/assets/13939/9636117/e3545e92-5167-11e5-9539-aab2e58a3ed1.png)

Some deployments do include `precise_lat` and

[2015-09-02 21:33] kwilcox opened #84 "Some deployments have NaNf values instead of using the FillValue"
**Example:** The first bunch of records of `temperature` in the `SG609-20150206T1720` deployment.

[code]

[2015-09-03 16:02] BeckyBaltes opened #85 "Draft Summary para for NCEI archive"
Could you write a short paragraph about what the NGDAC did with the data once it was received.  This could then be appended as a second paragraph to whatever summary was provided by the submitter.  This would ensure that at least some pertinent information was included in the abstract section of a Archival Information Package (AIP) that NCEI disseminates.

[2015-09-03 16:27] lukecampbell commented on #84
I can't speak on behalf of the provider but they may not be fill values.

[2015-09-03 16:28] lukecampbell commented on #83
@kerfoot

[2015-09-03 19:12] kwilcox commented on #58
I submitted two PRs to different repos to address this issue: https://github.com/ioos/glider-dac/pull/65, https://github.com/ioos/ioosngdac/pull/86

[2015-09-09 15:50] kerfoot commented on #84
This is a data provider issue in the sense that they explicitly put these values in the data array and they may (or may not) by intentional.  We will contact the data provider and make them aware of the situation.

[2015-09-09 15:50] #84 closed

[2015-09-09 15:54] kerfoot commented on #83
There's no documentation on it since we rename the lat and lon variables in the files submitted by the user to precise_lat and precise_lon (using ERDDAP).  There is no general consensus on methods for interpolating these values from surface gps fixes.  I don't think I can give you a good answer on this, other than to use latitude and longitude, which are estimated (mean) profile positions.

[2015-09-09 15:54] #83 closed

[2015-09-14 15:10] lukecampbell commented on #77
Where does this go? And what's going on with all the reassignments?

[2015-09-14 15:10] lukecampbell commented on #76
I think this was done.

[2015-09-14 15:12] #73 closed

[2015-09-16 15:03] #78 closed

[2015-09-16 15:05] #63 closed

[2015-09-16 15:06] lukecampbell commented on #79
The data provider has been notified.

[2015-09-16 15:06] #79 closed

[2015-09-16 15:12] lukecampbell opened #87 "CF Standard Name problem with files"

[2015-09-16 15:34] dpsnowden commented on #78
So this was closed but what was the resolution?

[2015-09-16 18:41] robragsdale commented on #78
To resolve this, Luke made changes to the GliderDAC metadata model so that now their is a completed deployment attribute to identify "complete" deployments.

[2015-09-16 19:50] lukecampbell commented on #78
It's actually been there since I developed the API last year.

http://data.ioos.us/gliders/providers/api/deployment

[2015-09-16 20:17] robragsdale commented on #85
All, here is a short paragraph to augment the data provider summaries:

Glider deployment files submitted to the IOOS NGDAC are validated by the IOOS compliance checker, aggregated into a single dataset that represents the deployment or trajectory, and distributed via ERDDAP and THREDDS endpoints.  The glider file data provider marks the deployment complete and an md5 checksum is generated for the

[2015-09-16 20:27] kerfoot commented on #85
Hi Rob,

Thanks.

I think we want to say a little more about the data itself.  I will review
tonight and send out an updated version tomorrow morning.

John

On Wed, Sep 16, 2015 at 4:17 PM, robragsdale <notifications@github.com>
wrote:

[2015-09-17 13:44] kerfoot commented on #85
How about something like:

The Integrated Ocean Observing System's National Glider Data Assembly
Center receives sets of individual NetCDF files comprising an individual
glider deployment from data operators and providers around the world.
These files are checked for compliance and then aggregated into a single
data set representing the entire deployment and made available via ERRDAP
and THREDDS e

[2015-09-17 15:22] robragsdale commented on #85
John, I like your revisions.  Does anyone have comments?  If not, then I will close this later today and distribute to the glider data providers.

[2015-09-17 19:32] kwilcox opened #88 "Carrying through all variables from providers"
All data variables are not being passed through to the Glider DAC hosted THREDDS and ERDDAP instances.  Specifically six variables from deployment `UCSC294-20150430T2218` are missing. Below is a CDL output from the dive files being submitted to the Glider DAC.

Missing from here: http://data.ioos.us/gliders/erddap/tabledap/UCSC294-20150430T2218.html
Missing fom here: http://data.ioos.us/gliders//t

[2015-09-17 19:54] robragsdale commented on #85
@kerfoot @lukecampbell

Corrected a typo "ERRDAP" should be "ERDDAP".  This version has the fixed typo:

The Integrated Ocean Observing System's National Glider Data Assembly Center receives sets of individual NetCDF files comprising an individual glider deployment from data operators and providers around the world. These files are checked for compliance and then aggregated into a single data set

[2015-09-17 20:52] kerfoot commented on #88
@kwilcox : it's in the works but requires a bit more work on the ERDDAP side to configure individual data sets with the proper set of variables.  Hopefully this year.

[2015-09-17 20:52] #88 closed

[2015-09-21 16:21] robragsdale commented on #76
@lukecampbell It looks like Francis Bringas' (AOML) gliders are processing through the GliderDAC workflow from the [catalog status monitor](http://catalog.ioos.us/services/filter/) and [ngdac 2.0 status page](http://data.ioos.us/gliders/status/) pages.   If the corrections he made to the nc files are not working, could you please let me know so I can follow up with him about the issue? Thanks.

[2015-09-21 20:06] lukecampbell commented on #76
Yeah, confirmed they're all good.

[2015-09-21 20:06] #76 closed

[2015-09-23 14:59] kknee commented on #85
With the typo correction I think we are all set.

[2015-09-23 14:59] #85 closed

[2015-09-30 14:39] kerfoot commented on #77
@lukecampbell: It should go in the 'placeholder' attribute on  the #deployment_date input element.

[2015-09-30 14:50] kerfoot commented on #75
NCEI summary added to wiki

[2015-09-30 14:50] #75 closed

[2015-10-02 15:00] lukecampbell commented on #77
Oh, got it you actually mean HTML placeholder. I thought we were talking about netCDF attributes.

[2015-10-02 15:28] kerfoot commented on #77
Yep, the placeholder attribute on the input element.  It will provide a little guidance to providers.  thanks.

[2015-10-07 13:52] robragsdale opened #89 "What type of CTD Data should be submitted?"
Chad Lembke wants to confirm this because in order to answer to answer his colleague's questions.

Does the DAC take unpumped Slocum CTD data?
Uncorrected CTD data included calculated salinity and density should be submitted? Correct?

Could not find information on types of data to submit on the Wiki.  Did I miss it?  If it is there could you point me to it and I will get back to Chad.  If not, it

[2015-10-08 17:29] lukecampbell commented on #89
@kerfoot could you comment on this?

[2015-10-08 20:02] kerfoot commented on #89
1. Both pumped and unpumped CTD data are accepted by the DAC.  Ideally, we'd like the user to specify, using the instrument:ctd attribute, which type was submitted.  See the doco:

https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2#instrument_ctd

In this example, here's the comment attribute:

instrument_ctd:comment = "pumped CTD" ;

As far as QA/QC of CTD data (salinity, d

[2015-10-08 20:02] #89 closed

[2015-10-09 18:56] fbringas commented on #84
The NaNf values were not intentional. This issue has been fixed and the data files updated in the IOOS Glider DAC.

[2015-10-22 18:38] lukecampbell commented on #81
@kerfoot If we update or rename these deployments, I'm afraid it will break a lot of automation. All of the data providers are mkhoward.  Can we just let these be? There is a potential for backlash if we change them at this point:

- Break automation for provider
- Causes dangling metadata records in catalog
- Any 3rd party that may have statically linked to these particular deployments would brea

[2015-10-29 14:08] kerfoot opened #90 "remove line asking for wmoid.txt"
Can you remove the following line from these emails:

Once a WMO_ID is received, place it in the directory inside of a file named "wmoid.txt".

I don't think we need it anymore since the user specifies it when they are creating the deployment and it's also in the .nc files.

[2015-11-02 15:20] kwilcox opened #91 "Gichigami-20110629T1821 actualy contains many deployments"
The `Gichigami-20110629T1821` ERDDAP/THREDDS dataset actually contains 10 deployments with the same `wmo_id`

* gichigami-20110629T1821
* gichigami-20110630T2049
* gichigami-20110701T0123
* gichigami-20110701T1556
* gichigami-20110702T1048
* gichigami-20110703T0859
* gichigami-20110704T0352
* gichigami-20110705T1936
* gichigami-20110706T1754
* gichigami-20110707T0056

I couldn't find another datas

[2015-11-02 16:29] kerfoot commented on #91
She must have put them all in the same directory and we have erddap set up to aggregate by time AND trajectory.

I'll ask her to delete the files and make sure to upload to the proper directories.

John

[2015-11-03 14:52] robragsdale opened #92 "USF glider data QC concern"
Hi Rob-
I noticed with some concern that glider data going from USF into the database is not really QC'd. Specifically for example, salinity is not temperature corrected - the CTD data is sent uncorrected.

Chad mentioned this is something everyone is doinng (i.e. the CTD data is not corrected).

This is not good. After a few years NOBODY will be able to process this quantity of data, and worse, s

[2015-11-03 15:04] kerfoot commented on #92
Not sure who Frank is, but there are few issues with his statements:
1. It's an incorrect statement that nobody is QCing their data.
2. All of our discussions have come to the conclusion that the responsibility for QC is on the data  provider, not the DAC.  If we QC someone elses data, we will get yelled at.  If we don't QC some elses data, we will get yelled at.  Classic no-win situation.
3. The

[2015-11-03 15:15] robragsdale commented on #92
@kerfoot Frank is Frank Muller-Karger from USF.

[2015-11-03 16:19] #90 closed

[2015-11-03 16:26] lukecampbell commented on #77
![screen shot 2015-11-03 at 11 26 31 am](https://cloud.githubusercontent.com/assets/1155163/10913857/c1b87db8-821d-11e5-9d62-6edfce18c824.png)

[2015-11-03 16:26] #77 closed

[2015-11-04 16:48] kknee commented on #91
@kwilcox unfortunately this data provider has since left the UMD lab.  We'll attempt to fix these deployments manually.

[2015-11-11 18:15] #58 closed

[2015-11-11 18:26] kwilcox opened #93 "bass-20150827T1909 contains two trajectories"
[code]

[2015-11-11 18:33] kwilcox opened #94 "Inconsistent platform `id` metadata"
The following deployments have two different values for the platform `id`, one from the `id` global attribute and the other from the `id` attribute on the `platform_meta` variable:
- Stommel-20150805T0000Z - `Stommell` vs `540`
- Sverdrup-20150822T1639 - `Sverdrup` vs `540`
- unit_308-20150701T222927Z - `unit_308` vs `540`

[2015-11-11 20:23] kwilcox opened #95 "Some profiles start before the previous profile ends"
I've noticed that in a very small number of Deployments there are profiles that start before the previous profile has ended.  This is based on the `precise_time(obs)` variable and not the `time(profile)` variable. I haven't identified all of the offending Deployments, but here are a few:
- bass-20150706T151619Z
- Murphy-20150809T1355Z
- Stommel-20150805T0000Z
- unit_308-20150701T222927Z
- unit_540

[2015-11-12 15:20] lukecampbell commented on #95
This is up to the providers. GliderDAC does not have or maintain policies directing continuity for deployments, or overlapping times. We can let them know that it's causing problems for you but as far as I know, we don't have any intention to direct them otherwise.

[2015-11-12 15:24] lukecampbell commented on #94
I don't believe we have any requirements directing the usage of either of these attributes.
We'll be sure to let the provider know.
https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2

[2015-11-12 15:24] lukecampbell commented on #93
that's unfortunate.

[2015-11-18 15:25] kknee commented on #91
@lukecampbell this is all set, yes?

[2015-11-18 16:07] lukecampbell commented on #91
Yes

[2015-11-18 16:07] #91 closed

[2015-12-16 16:30] kerfoot commented on #53
Done.

[2015-12-16 16:30] #53 closed

[2015-12-18 16:03] robragsdale commented on #92
Through an email discussion with Frank Muller-Karger, we strived to resolve his apprehension over the release of real-time, uncorrected CTD data.  We explained that there is no easy solution and pointed to current common practices and ongoing work to improve the data quality.

* The glider DAC team is coordinating with QARTOD to identify quality control measures for temperature/salinity that can b

[2015-12-18 16:03] #92 closed

[2016-01-04 15:16] robragsdale opened #96 "New Data Provider at UW needs WMO ID"
@kerfoot Can you please follow up with Beth Curry at UW - APL who needs a WMO ID for a new glider deployment.  She is a new data provider and here is her information:

Contact Name: Beth Curry
Contact Organization: Applied Physics Laboratory, University of Washington
Email Address: beth4cu@uw.edu
Telephone Number: 206-685-8326

and glider deployment that she needs a WMO ID for:

Data provider: App

[2016-01-04 21:32] lukecampbell commented on #96
Just a follow up from the email thread, her deployment has a WMO ID as it is already going to the GTS directly from the collector. We're still trying to sort out how we should integrate this into GliderDAC but avoid duplicate submissions to the GTS.

[2016-01-22 20:03] robragsdale opened #97 "WMO ID Request"
@kerfoot

Laura Palamara is requesting a WMO ID for:

Rutgers University
glider RU25D
deployed Jan 21, 2016
Amundsen Sea (73.5 S, 112 W)

[2016-01-22 21:18] kerfoot commented on #97
I have received the WMO id for this glider.

[2016-01-22 21:18] #97 closed

[2016-02-19 15:15] kerfoot opened #98 "Upgrade ERDDAP to 1.68"
I upgraded my local erddap server to 1.68, which has the axis reverse option available:

http://erddap.marine.rutgers.edu/erddap/tabledap/ru29-20150623T1046.largePng?time,depth,temperature&orderBy(%22time%22)&.draw=markers&.marker=6|10&.color=0xFFFFFF&.colorBar=Rainbow2|||4|25|&.bgColor=0xffccccff&.yRange=||false

Pretty nice and I think end-users will love it.  Can we upgrade when you've got time

[2016-02-19 18:22] kwilcox commented on #98
Plugging https://github.com/axiom-data-science/docker-erddap/blob/master/README.md

[2016-03-11 17:50] kwilcox opened #99 "ERDDAP restart schedule"
What is the schedule that the Glider DAC restarts the public facing ERDDAP?

[2016-03-11 18:35] lukecampbell commented on #99
It's only restarted as needed, the last time it was restarted was on 24 Feb

[2016-03-11 21:03] kwilcox commented on #99
Thanks!

[2016-03-11 21:03] #99 closed

[2016-03-11 21:05] lukecampbell commented on #99
Were you hoping it would be restarted more frequently?

[2016-03-11 21:29] kwilcox commented on #99
I'm having periodic connection issues and has been assuming for weeks I was trying on the same schedule that it was restarting.  I'll have to poke around some more and figure this out.

[2016-03-11 21:50] kwilcox opened #100 "Something is wrong with UW157-20150917T1833"
@akbstone discovered some bad `time` values in profiles 119 and 120 that are set to `2.04219993498686e-301`

It doesn't work in the public [ERDDAP](http://data.ioos.us/gliders/erddap/tabledap/UW157-20150917T1833.html)

[code]

[2016-03-11 22:09] lukecampbell commented on #99
Yeah it looks like we have a few people trying to download all of gliderdac every day at midnight. Here's the CPU:

![screen shot 2016-03-11 at 5 08 46 pm](https://cloud.githubusercontent.com/assets/1155163/13716915/03462b2e-e7ac-11e5-91d5-1f028c41f547.png)

I bet if you staggered it by just a few hours you'll get access without competing for resources.

[2016-03-11 22:10] lukecampbell commented on #99
We see this with a lot of the data servers, MARACOOS, GLOS and GliderDAC where everyone has their cron jobs set to midnight.

[2016-04-08 20:47] robragsdale opened #101 "Parameter names for new glider variables"
How will vocabulary terms be reconciled for parameter names and units that are not found in the CF standard names or in udunits and will not pass the compliance checker?

[2016-04-11 13:19] lukecampbell commented on #101
For CF and ACDD they will fail. The standard is pretty clear about that being a requirement. For the NCEI check it will maybe get a 1 out of 3 or something, not sure yet. For GliderDAC, we have a strict variable naming convention. That convention allows us to match the variable names to intended standard names and we could be more forgiving.

[2016-04-11 14:01] robragsdale commented on #101
Their is an [IOOS parameter vocabulary](http://mmisw.org/orr/#http://mmisw.org/ont/ioos/parameter) on the MMI ORR that was created to supplement the CF standard names table terms.  Their is a [map](http://mmisw.org/orr/#http://mmisw.org/ont/ioos/map_ioos_cf) between the IOOS Parameter terms and the CF standard terms.  They try to follow CF conventions.  Would these pass the compliance checker test

[2016-04-12 15:12] lukecampbell commented on #101
Not ACDD or CF; as these standards are adopted by IOOS but not controlled or dictated by IOOS vocabulary. GliderDAC parameter names are strictly controlled so parameter names, and attributes must be uniform across datasets:

https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2

[2016-04-28 14:03] #96 closed

[2016-04-28 14:06] kerfoot opened #103 "all*Gliders datasets"
@lukecampbell The allrutgersGliders dataset is missing some of the Rutgers glider datasets.  In particular, the ru31 deployments.

IMO, I think we should remove these all*Gliders datasets, but if we're going to keep them, we need to figure out why some deployments are missing.

[2016-06-29 16:10] kknee opened #105 "Add attribute for associating RAs with deployments"
Background: gliders related to NANOOS are not associated with NANOOS in the NCEI archive, as discovered by @emiliom.  Users should be able to filter by RA and find associated gliders in the archive.

Proposed solution: use a global attribute to indicate which RA(s) should be associated with the deployment in the NCEI archive. Whether to use a new (e.g. ioos_regional_association) or existing (see o

[2016-06-29 16:18] lukecampbell commented on #105
I think we're going to use a global attribute called `ioos_regional_association`. @kerfoot The problem with the existing attributes (above) is that they're already filled in on some set of our data already. The second problem is we have to strictly maintain a consistent non-duplicative set of valid RAs so that NCEI can correctly associate a record with the IOOS RA.

@mbiddle-nodc

[2016-06-29 18:43] kknee commented on #105
it was @mbiddle-nodc that suggested we not use a new global attribute, but if that's the best/only way forward...

[2016-06-30 16:56] emiliom commented on #105
Thanks all!

My broad suggestion would be to try to maintain consistency with the approach used with netcdf from fixed-platforms (moorings, etc), if possible. We have a very well developed approach for RA representation on the SOS/SensorML side of things, but I haven't kept track of the corresponding netcdf side of things; I'm not sure who the best person would be to consult -- maybe Kyle W. and A

[2016-06-30 18:58] lukecampbell commented on #105
This is more for attribution of a dataset, which is a bit different than the naming/scope of a platform's URN. There's several instances where more than one RA have funded a glider deployment, so we're working on a way to accommodate several use cases:

- Retain the original dataset's attribution through the `acknowledgement` attribute
- Retain the original metadata for institution, contributor, c

[2016-07-01 15:40] emiliom commented on #105
Just to clarify: What I referred to about the IOOS SOS/SensorML attribution of the associated IOOS RA **is** focused on dataset attribution, not the naming/scoping of a platform urn (I assume you're referring to the recent discussions about urn's). But again, I'm not saying that I'm certain that implementation can translate cleanly into what you're trying to do; just that it's worth exploring.

Ki

[2016-07-02 05:28] kwilcox commented on #105
I would advocate for a generic extension of ACDD that wouldn't be used by the providers already.  That rules out `contributor_*`, `publisher_*`, and `creator_*`.

Maybe `support`?

[code]

[2016-07-05 14:58] lukecampbell commented on #105
I like this as well 👍

[2016-07-06 15:29] kerfoot commented on #105
@kwilcox A few questions/concerns with the solution you suggested:

1. The sole reason of originally deciding to use something like global:ioos_regional_association was in response to some concerns by providers to associate an IOOS RA with a deployment, if it applies.  We certainly don't want to discourage groups from submitting data to the DAC if the deployment is not associated with an RA.
2. I'

[2016-07-14 19:14] BeckyBaltes opened #106 "Update NGDAC-NetCDF-File-Format-Version 2"
Matt pointed out on our call today that our example text for attribution says "This work supported by funding from..."
https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2

This should be updated to show "Attribution: x,y,z" or something equivalent.

[2016-07-14 19:17] kerfoot commented on #106
I think he might be confused (or I am): That's the NetCDF acknowledgement global attribute.  I thought we were using what was input on the attributions form field when the deployment is registered?  If this field was not filled out, then we were using this attribute to fill in the information.

I'd prefer not to impose restrictions on what users can and cannot use as values for NetCDF global attri

[2016-07-14 19:21] BeckyBaltes commented on #106
You're right. It is the acknowledgement global attribute he's referring to.  I'll update him.

[2016-07-15 12:23] lukecampbell commented on #106
The `acknowledgement` attribute is for free form attribution.

If you don't fill in the attribution form field here:
![attribution](https://cloud.githubusercontent.com/assets/1155163/16873755/43a18686-4a63-11e6-95aa-5f527ea77e88.png)

Then we use the `acknowledgement` attribute value in your first upload of your deployment.
Here:
![acknowledgement](https://cloud.githubusercontent.com/assets/115516

[2016-07-21 19:15] #106 closed

[2016-07-25 16:34] kerfoot commented on #98
@lukecampbell Can we upgrade ERDDAP to the latest and greatest (v1.72)?  I'm running it locally and the y-axis inversion option is pretty nice:

http://erddap.marine.rutgers.edu/erddap/tabledap/silbo-20160413T1534.graph?salinity%2Cdepth%2Cprofile_id%2Ctime&time%3E=2016-07-10T03%3A27%3A20Z&orderBy(%22time%22)&.draw=markers&.marker=3%7C5&.color=0xFFFFFF&.colorBar=%7C%7C%7C%7C%7C&.yRange=%7C%7Cfalse&

[2016-07-26 13:46] lukecampbell commented on #98
When I upgraded last time it broke GliderDAC, I don't currently have the resources to test and find out why it wasn't working. This is still on my to-do list, though.

[2016-08-05 18:21] kwilcox commented on #100
Seems to have fixed itself?

[2016-08-05 18:21] #100 closed

[2016-08-08 19:09] BeckyBaltes opened #107 "Modeler systematic access to data by domain"
@kerfoot, @lukecampbell @kknee ,

See question I received from Fred Bahr today.  I feel like the answer should be yes, but I don't know how to do it.

*****
Becky,

Is there a way for Modelers to access the glider DAC programatically to find the current active gliders in their model domain.  Because glider names are not predictable (they incorporate both deployment date and glider serial number) i

[2016-08-11 14:11] lukecampbell commented on #107
Here's a notebook illustrating how

https://nbviewer.jupyter.org/gist/lukecampbell/8c47b3b110a1ed6f08d7cf658d71008e

GliderDAC doesn't have any geospatial search engine or anything like that but if you use a GIS library it should be possible to filter the deployments to a region of interest.

[2016-08-11 14:11] #107 closed

[2016-08-29 21:35] BeckyBaltes opened #108 "Glider Map data viewer missing?"
@kknee @lukecampbell , It looks like the data viewer is missing from the glider missions on the map.  If you click on a glider, it has the attribution but nothing else.  Does something need a reboot?

[2016-08-30 00:19] kknee commented on #108
@lukecampbell seeing a few console errors:

![image](https://cloud.githubusercontent.com/assets/196868/18071688/da70733e-6e25-11e6-85b2-a5a1808cd7b9.png)

[2016-08-30 14:59] lukecampbell commented on #108
Fixed

[2016-08-30 15:00] lukecampbell commented on #108
Just a heads up, those console warnings are from the missing user login stuff. We should probably fix those, since the site doesn't have a login.

[2016-08-30 16:51] kwilcox commented on #108
Was the SSL related?

[2016-08-30 18:47] lukecampbell commented on #108
Yes

[2016-08-30 18:48] lukecampbell commented on #108
no certificate errors or anything like that, just that python requests needed to accept redirects.

[2016-08-30 18:48] #108 closed

[2016-09-15 15:32] kwilcox opened #109 "Documentation on the "type" attribute for instruments"
[Here](https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2#instrument_ctd) it gives the example attribute `instrument_ctd:type = "platform" ;`. Is this correct? I was expecting `instrument_ctd:type = "instrument" ;`.

[2016-09-15 16:36] lukecampbell commented on #109
@kerfoot Could you weigh in here?

To the best of my knowledge there is no standard that describes an attribute `type` for an instrument variable. And I don't think it's used for anything by NODC for archiving. So, it can probably be a free-form attribute, but I'd like John to weigh in.

[2016-09-15 16:39] kwilcox commented on #109
Glider DAC plugin for the CC requires it:

[code]

[2016-09-15 16:46] lukecampbell commented on #109
Correct, it requires it but it doesn't care what's inside the attribute, so you can set it to whatever you want.

[2016-09-15 16:48] kerfoot commented on #109
Kyle,

I think you're right.  It should probably be set to instrument, not
platform.

John

On Thu, Sep 15, 2016 at 12:46 PM, Luke Campbell <notifications@github.com>
wrote:

[2016-09-15 16:49] lukecampbell commented on #109
@kwilcox you can go ahead and set `instrument_ctd:type = "instrument";` good catch. We'll update the wiki with our next round of edits.

I'd like to leave this issue open until the wiki is updated. The gliderDAC plugin doesn't check attribute contents, so we should be ok on that front.

[2016-09-16 13:45] kwilcox opened #110 "Wiki documentaiton out of date regarding the registration of a new deployment"
The wiki documentation does not reflect the actual website when creating a new deployment. I fixed some of the easy-fix problems this morning but I can't figure out what to do in this case:

https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Submission-Process#deployment-creation

There are three fields to fill out on the website:
- Glider Name
- YYYY-MM-DDTHH:mmZ
- Attribution

The document

[2016-09-16 14:25] kwilcox opened #111 "Inconsistent documentation regarding filenames ending in Z"
Should data files that are uploaded to the DAC FTP site end in `Z`? There is conflicting documentation in the [File Naming Conventions](https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2#file-naming-conventions) section.

I'm leaning towards yes... please confirm!

[2016-09-16 16:06] lukecampbell commented on #111
It looks like no Z suffix to the folder name. Data files can be pretty much anything, the aggregation looks for netCDF files. I haven't tested what happens if the files are out of order, but I remember hearing that ERDDAP aggregates them just fine, even if the filenames are not in any specific order.

[2016-09-16 16:07] lukecampbell commented on #111
Example upload:

[code]

[2016-09-16 16:11] lukecampbell commented on #110
Ok, I'll bring this up on the next meeting about things we need to update in the wiki.

<dl>
<dt>
Glider Name
</dt>
<dd>
bass
</dd>
<dt>
YYYY-MM-DDTHH:mmZ
</dt>
<dd>
2016-09-09T1733Z
</dd>
<dt>
Attribution
</dt>
<dd>
This glider deployment funded by NOAA (or whatever the funding attribution statement you want to be
</dd>
</dl>

[2016-09-16 19:45] kerfoot commented on #110
@kwilcox All of your comments are correct.  I will update the wiki this weekend.

[2016-09-16 19:46] kerfoot commented on #110
As @lukecampbell pointed out, it doesn't matter.  will update the wiki this weekend.

[2016-09-19 13:25] kwilcox opened #112 "Three new deployments not showing up on ERDDAP/THREDDS"
I started uploading data last Friday and the deployments haven't appeared in ERDDAP or THREDDS as working datasets yet. Documentation says it should take 1-2 hours. Seems like there is an issue?

* `bass-20160909T1733` -  https://data.ioos.us/gliders/providers/users/secoora/deployment/57dbfc40c2fffe479dbe0f4e
* `modena-20160909T1758` - https://data.ioos.us/gliders/providers/users/secoora/deploymen

[2016-09-19 13:34] kwilcox commented on #105
@kerfoot Using `support_*` is just a little more future proof if IOOS decides they want to start tracking other types of `support`. If we use `ioos_regional_assocation` it only solving the issue at hand. I agree that `support_*` is much more confusing for providers. I'll just start adding both!

[2016-09-19 15:45] robragsdale opened #113 "Need fix for new glider deployment trajectory on glider map"
New glider deployment roxy-20160914T2055 is showing up on the [glider Map](https://gliders.ioos.us/map/) in an improbable trajectory (it is basically a horizontal line cutting across Florida).

[2016-09-19 23:52] kerfoot commented on #112
@lukecampbell not sure what the issue is.  There are THREDDS .nc files, but they are completely empty and there's nothing on erddap?  Any ideas?

[2016-09-20 14:26] lukecampbell commented on #112
I only checked modena.

There's no data in the files. They're not GliderDAC compliant.

- [Compliance Report](https://s3.amazonaws.com/asa-dev/transfer/modena.pdf)
- [modena_20160714T203635Z_rt.nc](https://s3.amazonaws.com/asa-dev/transfer/modena_20160714T203635Z_rt.nc)

[2016-09-20 14:38] kwilcox commented on #112
This was a red herring, I should have uploaded anything before 201609. I just removed the offending files from the FTP.

The files there now score much better: https://data.ioos.us/compliance/report/f8d7b35e7833104477d8f0b4a233653fd45e98d8

[2016-09-20 14:41] kwilcox commented on #112
ramses score: https://data.ioos.us/compliance/report/2d472099e94d9b50f9c9c58f0915d0152239a02f

[2016-09-20 14:42] lukecampbell commented on #112
I'm gonna restart ERDDAP and manually kick off the processing job and see if I can see anything.

[2016-09-20 15:00] lukecampbell commented on #112
Ok, so this is kind of a guess here, but I think that it's not working because `cdm_data_type` is defined in the file which contradicts what the datasets.xml file says.

The other deployments on GliderDAC don't define this attribute.

This is the error in the ERDDAP logs:
[code]

I don't know where the `Other` comes from, neither the files nor the config specify other.

[code]

[2016-09-20 15:04] lukecampbell commented on #112
Ok, bass and modena still have offending files. As for ramses, it looks good but seeing the error about cdm_data_type makes me think that the attribute is the reason it's not processing.

[2016-09-20 15:05] kwilcox commented on #112
I think this came up recently in another issue somewhere...

From http://www.unidata.ucar.edu/software/thredds/current/netcdf-java/metadata/DataDiscoveryAttConvention.html
[code]

`trajectoryProfile` isn't a valid value for that attribute... does ERDDAP require it? I believe I'm doing the correct thing in the raw files.

[2016-09-20 15:22] kwilcox commented on #112
Meaning there are no compliance-checker-like tests run by the DAC to filter out bad real-time NetCDF files and I should implement something like this on my end?

[2016-09-20 15:43] kerfoot commented on #112
@kwilcox the cdm_data_type global attribute is added in the datasets.xml file when the deployment is registered.  It helps ERDDAP take the entire series or profiles and aggregate them into a single trajectoryProfile data set.  Do the files you're submitting contain this attribute?  If so, remove it.  If not, we need to keep looking.  Can you email me a couple of the files you're writing?

[2016-09-20 16:17] kwilcox commented on #112
Yes, they contain `:cdm_data_type = "Trajectory"` per ACDD standards.

[2016-09-20 17:13] lukecampbell commented on #113
https://data.ioos.us/gliders/erddap/tabledap/roxy-20160914T2055.htmlTable?latitude,longitude&time%3E=2016-09-09T00:00:00Z&time%3C=2016-09-16T12:34:14Z

Can someone reach out to Matt and ask him to check the coordinates on the submitted file?

[2016-09-20 17:16] kerfoot commented on #113
@lukecampbell I will reach out to matt.  Any chance you can look at the submitted files and find the name of the bad one?

If so, could you delete this file?

[2016-09-20 17:20] kerfoot commented on #113
@lukecampbell I think it's the first file: roxy-20160914T205510Z_rt.nc.  Can you ncdump -v lat roxy-20160914T205510Z_rt.nc and see if the bad lat is in there?

[2016-09-20 17:54] kwilcox commented on #112
I will remove the `cdm_data_type` global attribute when I re-upload all of the NetCDF files after filtering out "offending files" but the strife over this attribute will continue inside of my head!

[2016-09-20 18:43] lukecampbell commented on #113
[code]

[2016-09-20 18:43] lukecampbell commented on #113
The very next file:
[code]

[2016-09-20 18:59] kerfoot commented on #113
@lukecampbell are you cool with deleting that bad file?  Is the file named: roxy-20160914T205510Z_rt.nc?  I will email Matt asking him to resubmit it.

[2016-09-20 21:10] lukecampbell commented on #113
Yeah, I'll delete it tomorrow morning.

[2016-09-21 15:09] #113 closed

[2016-09-22 14:29] kwilcox commented on #112
OK I'm now filtering out bad profiles via the compliance checker and all four deployments are now showing up. Thanks for the help guys!

[2016-09-22 14:29] #112 closed

[2016-09-22 14:57] lukecampbell commented on #112
so it was `cdm_data_type`  That's unfortunate. I'm glad we found the issue, but it's unfortunate that we didn't realize this could cause issues until. now. We'll be sure to add a blurb in the docs about it.

Other global attributes _should_ work fine. We try to take the approach, "give us all you got, and we'll publish what we're capable of publishing".

[2016-12-07 23:04] emiliom commented on #105
This was resolved, wasn't it? If so, can you point me to documentation describing what new attribute(s) to add and how to use it/them?

This issue is still open, so if it's resolved, you might want to close it. Thanks.

[2017-01-09 22:32] emiliom commented on #105
Just pinging again to see if this issue was resolved, and if so, how. Thanks.

[2017-01-10 00:22] kknee commented on #105
@emiliom not yet, but the plan is to use ioos_regional_association.

[2017-01-10 03:43] emiliom commented on #105
Thanks for the update.

[2017-01-11 17:16] kerfoot commented on #105
I've added the global attribute to the CDL, .nc and .ncml files:

https://github.com/ioos/ioosngdac/blob/master/nc/template/IOOS_Glider_NetCDF_v3.0-qartod.cdl

[2017-01-11 17:16] #105 closed

[2017-01-16 18:20] kwilcox opened #115 "Bad `valid_min` and `valid_max` on longitude"
I've come across a few datasets with bad `valid_min` and `valid_max` attributes on the `longitude` variable. One such example is `UCSC260-20150520T0000`. If following CF anything outside of the `valid_min` and `valid_max` should be masked... causing chaos on this dataset.

* [THREDDS](https://data.ioos.us/gliders//thredds/dodsC/deployments/mbari/UCSC260-20150520T0000/UCSC260-20150520T0000.nc3.nc.h

[2017-01-16 20:03] lukecampbell commented on #115
I don't believe that CF says anything about masking the data using `valid_min` or `valid_max` it does say that values outside those range should be treated like missing values. [(CF §2.5.1)](http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#missing-data)

This is wrong in all cases, and we'll bring it up at our weekly discussion this week. Thanks!

[2017-01-18 16:51] kwilcox opened #117 "`valid_min` and `valid_max` not set to the correct type on some variables"
The `valid_min` and `valid_max` attributes should be of the same type as the data variable but this is not always the case with data coming from the DAC:

https://data.ioos.us/gliders//thredds/dodsC/deployments/mbari/UCSC260-20150520T0000/UCSC260-20150520T0000.nc3.nc.html

All of the `_qc` variables are offending. I didn't scan all of the datasets, it may occur on more.

[2017-01-18 17:57] kwilcox commented on #117
Here is another: https://data.ioos.us/gliders//thredds/dodsC/deployments/lfiorentino/gichigami-20110630T2049/gichigami-20110630T2049.nc3.nc.html

The attributes are actually strings here... making it harder to figure out what it is suppose to be than the original example.

[2017-01-18 18:54] lukecampbell commented on #117
Ok thanks. It's on our sprint this week to find all the datasets that have valid_min and valid_max issues and we'll reach out to the data providers to fix.

Thanks for finding these. We'll expand our search to also look for type inconsistencies as well.

[2017-01-20 20:43] lukecampbell commented on #117
We found the deployments that need to be corrected and we'll be working with the providers to correct these issues.

[2017-02-22 17:35] kerfoot opened #120 "Wiki Update to-do list"
Here are the items I'd like to focus on for the wiki update (feel free to suggest others as well):

1. Best practices for writing consistent NetCDF files
2. Consolidating: https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2

[2017-03-31 12:18] kerfoot opened #121 "remove "ancillary_varibles" from precise_lat and precise_lon in private erddap template"
@lukecampbell Can you remove the "ancillary_varibles" attribute from precise_lat and precise_lon?  Not only is it spelled wrong, but the user should be adding these, not us.

https://github.com/ioos/ioosngdac/blob/master/erddap/templates/private/dataset.deployment.xml#L199
and
https://github.com/ioos/ioosngdac/blob/master/erddap/templates/private/dataset.deployment.xml#L213

[2017-03-31 13:18] lukecampbell commented on #121
could you make a PR for me? If not, I'll try to get to it next week or the week after.

[2017-03-31 20:29] kerfoot commented on #98
Any chance we can bump this up the priority list?  I've had a number of people ask if it's possible to reverse the y-axis when plotting profiles and cross-sections.

[2017-03-31 21:10] lukecampbell commented on #98
Just to put why we didn't update last cycle. The java version running on that box is like 1.6, we'd need to update to 1.8 which is non-trivial and would likely break a lot of stuff. I would need to schedule a large block of downtime, make a clone of the DAC which would take a day, and test the upgrade on the clone to see what breaks.

[2017-03-31 21:27] kerfoot commented on #98
So does that mean it's unlikely it will happen anytime soon?  The version we're running is very old.

[2017-04-03 13:28] rsignell-usgs commented on #98
@lukecampbell and @kerfoot , how about using the Docker container for ERDDAP?
https://hub.docker.com/r/axiom/docker-erddap/

We've been using this at USGS and on the OOI-CGSN OMS++ project and it works great.

If you use the 1.74 version
`docker pull axiom/docker-erddap:1.74`
you get an extra bonus:  the netcdf-java jar file has been updated so that it can read the latest netcdf4 files produced by

[2017-04-03 14:12] lukecampbell commented on #98
This linux version is too old to run docker as well. :\

[2017-04-03 14:41] kerfoot opened #122 "Attribution not being displayed on map"
@lukecampbell For all 3 OOI glider deployments that I registered last week, the attribution is not being displayed when clicking on a glider track.  The message is "Attribution: No Attribution Provided".  I just checked the deployment registration page and all 3 of them say "National Science Foundation"

[2017-04-03 15:01] lukecampbell commented on #122
Attribution comes from the `acknowledgement` global attribute.

[2017-04-03 15:04] lukecampbell commented on #122
The UI element forces attribution to show up if `acknowledgment` is not defined. Just to note that it's the, in my opinion, incorrect spelling, or American, spelling of `acknowledgment` not the british spelling `acknowledgement` with the e in the middle.

[2017-04-03 15:05] lukecampbell commented on #122
Actually, I got that backwards, it's acknowledgment if and only if the UI attribution isn't filled in.

[2017-04-03 15:05] lukecampbell commented on #122
![screen shot 2017-04-03 at 11 05 44 am](https://cloud.githubusercontent.com/assets/1155163/24615863/80c28524-185d-11e7-9b92-235239a5b9c7.png)

[2017-04-03 15:06] lukecampbell commented on #122
Attribution is filled in, so I don't know why it's not showing up on the map.

[2017-04-03 15:09] lukecampbell commented on #122
Do you know where they're supposed to be on the map?

[2017-04-03 15:12] kerfoot commented on #122
When I click on a glider track, a popup shows up displaying the name of the
deployment, graphing parameters, and "Attribution: No attribution provided".

On Mon, Apr 3, 2017 at 11:09 AM, Luke Campbell <notifications@github.com>
wrote:

[2017-04-03 15:30] lukecampbell commented on #122
I think I found the issue, I'll let you know when I have something out.

[2017-04-03 16:58] lukecampbell commented on #122
@kerfoot ok, now it should show up correctly on the map, could you let me know if it doesn't? You may have to force refresh if your browser cached the deployment metadata.

[2017-04-03 17:16] kerfoot commented on #122
Looks good now. thanks!

[2017-04-03 17:16] #122 closed

[2017-04-05 17:24] kwilcox commented on #98
@kerfoot @rsignell-usgs I put all of the glider data on another ERDDAP instance. Feel free to use it or point people at it while the DAC finds time to upgrade their server: http://ioos.erddap.axiomdatascience.com/erddap/info/index.html

[2017-04-07 19:44] bkirving opened #123 "variable_qc:flag_meanings and variable_qc:flag_values"
There appears to be a duplicate qc flag. flag_values 6 and 7 both correspond to flag_meanings not_used. Do the meanings not_used apply to different processing steps? If so please clarify the difference. Otherwise, how should this be handled in the qc processing, just pick 6?

[2017-04-07 22:11] kerfoot commented on #123
@bkirving Can you paste the link to the lines you're referring to?  I will check it out and reply.

[2017-04-07 22:20] bkirving commented on #123
https://github.com/ioos/ioosngdac/blob/master/nc/template/IOOS_Glider_NetCDF_v3.0-qartod.cdl

https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2#lon_uv_qc

[2017-04-07 22:24] kerfoot commented on #123
I think you're referring to the flags that end in "_qc".  If so, we have
moved to the qartod_*flag variables and are no longer using the *_qc
flags.  These flags will remain and will be used to store data provider qc
checks.

Please use the qartod_*flag variables if you are applying qartod qc.  If
not, leave the variable:ancillary_variables attributes empty and the DAC
will perform QARTOD checks a

[2017-04-07 22:35] bkirving commented on #123
It does make sense and I was following the discussion during yesterdays DAC webinar.

However, can you still clarify whether the 2 not_used meanings are just a duplicate or I missed something in the documentation? Our processing has additional QA/QC steps and formatting requirements for agency data submission has been different in the past, i.e. not submitting individual files for each profile. Th

[2017-04-07 22:38] kerfoot commented on #123
I'm not sure what you mean by "are just a duplicate"?  Neither of those flag values are being used which is why they are have the "not_used" string.  You are free to define alternate meanings for any flag value that you would like to use.  We are just trying to provide guidance to all users when/if they use qc.

[2017-04-07 22:41] bkirving commented on #123
That answers my question, thanks.

[2017-04-18 14:21] kerfoot opened #124 "change DAC dataset sync scheduled times"
@lukecampbell I believe you said that you are running the syncing scripts 4 times per day (not sure though).  It looks like one of the scheduled times is around 10:00 EST.  Could you shift the cronjob to 2 hours later, i.e.: change the 10:00 time to 12:00?  This would provide likely result in more profiles being available for harvest by NDBC prior to their jobs running.

[2017-05-25 20:36] BeckyBaltes opened #125 "Add Glider DAC webinar presentation Materials to the DAC page"
@kknee, Ben,
I sent you the Glider webinar as well as John Kerfoot's slides. Please post them on the glider DAC page. I think it could go under "documentation" for now.

Thanks

[2017-05-25 20:46] kknee commented on #125
This issue really belongs in the DAC homepage repo, recreated here: https://github.com/ioos/gliders/issues/36

[2017-05-25 20:46] #125 closed

[2017-08-03 14:06] BeckyBaltes opened #126 "Status Page Not Updating"
@benjwadams @bobfrat @kerfoot, Please move to different repo if more appropriate.  The status page, https://gliders.ioos.us/status/ has a most recent update of July 27 though the map clearly shows gliders reporting as of yesterday.  Please investigate why it isn't updating.

[2017-08-07 12:50] kerfoot commented on #126
@benjwadams any update on this?  The status page is the primary means by which I check dataset status and it would be great if it worked. I believe that @lukecampbell had this running on a cronjob and it had been updating regularly prior to July 27.  So, something must have happened since then to prevent the updates.

[2017-08-07 12:57] kerfoot commented on #98
ERDDAP updated to v1.78.  Everything functioning normally. closing.

[2017-08-07 12:57] #98 closed

[2017-08-07 13:14] kerfoot opened #127 "DAC ERDDAP and QC outstanding issue"
A dataset with no QC information was submitted last week.  My understanding was any dataset that was missing QC (variable:ancillary_variables) would be QC'd by the DAC.  This does not seem to be the case.  This needs to be addressed as soon as possible as we have told users that the DAC would provide QC.

[2017-08-07 22:30] benjwadams commented on #126
Hey John, I looked at this more today, and the logs indicate that the status is having some issues retrieving the trajectories:

[code]

[2017-08-07 22:59] benjwadams commented on #126
[code]

[2017-08-07 23:52] benjwadams commented on #126
@jkerfoot, Applied a hotfix for now.  If time_coverage_start or time_coverage_end aren't defined in the dataset, an unhandled exception was thrown, causing the status update to fail.
In this case, the first particular dataset to cause this to fail was
https://data.ioos.us/gliders/erddap/tabledap/Nemesis-20170512T0000.das

I set up a pull request at, https://github.com/ioos/glider-dac-status/pull/2

[2017-08-08 17:00] benjwadams commented on #127
John, do you know which dataset it was in particular?

[2017-08-08 18:03] kerfoot commented on #127
https://data.ioos.us/gliders/erddap/tabledap/bios_minnie-20170616T1454.html

[2017-08-08 19:38] benjwadams commented on #127
Oops, sorry, by no QC information I thought you meant it was missing QC variables entirely.  I was following that email chain but I did not initially make that association with it.

[2017-08-09 16:23] Bobfrat opened #128 "Move errdap and thredds templates to glider-dac repo"
Move
https://github.com/ioos/ioosngdac/tree/master/erddap/templates
and
https://github.com/ioos/ioosngdac/tree/master/thredds/templates
to
https://github.com/ioos/glider-dac repo

[2017-08-14 14:47] benjwadams commented on #126
Status page is updating again.  Closing.

[2017-08-14 14:47] #126 closed

[2017-08-15 14:14] benjwadams commented on #127
QARTOD QC on the bios* datasets has now propagated to the ERDDAP instance, so I am going to close this issue unless other issues are found down the road.

[2017-08-15 14:37] kerfoot commented on #127
I do see that the qartod_* flags are there, but they, like the *_qc variables, do not appear to have _FillValue attributes.  Should this be filed under this issue or should I create a new issue regarding _FillValues?

[2017-08-15 15:15] benjwadams commented on #127
I'm in the process of updating the ERDDAP template as we speak, and hope to have a fix out by this afternoon.  For *_qc variables (not sure what to informally call these), _FillValue should be nominally set to -127 for variables where it is not provided, correct?  For QARTOD QC variables in particular, the flag meanings should be the same, namely:
1 -> GOOD
2 -> UNKNOWN/NOT_EVALUATED
3 -> WARNING

[2017-08-18 19:56] benjwadams commented on #127
Related https://github.com/ioos/ioosngdac/pull/129

[2017-08-18 20:16] BeckyBaltes opened #130 "Glider DAC Map, Summary Statistics and glider day counter not loading"
@benjwadams @Bobfrat  Please move this issue if needed. The glider map banner at the top of the legend used to display glider days this year, but it's not loading.  Also the summary statistics says, "no information available." Please see what's going on.

[2017-08-21 15:04] Bobfrat commented on #130
Getting an error while parsing the [status page](https://data.ioos.us/gliders/status/static/json/status.json)

For Nemesis-20170512T0000 it's failing while trying to get the glider start date (ts0). I'll add some error checking.

[code]

[2017-08-21 17:12] benjwadams commented on #130
Related: https://github.com/ioos/ioosngdac/issues/126
I believe I recall @kerfoot saying on the call that only one of the Nemesis datasets had this issue.  Notice that https://data.ioos.us/gliders/erddap/info/Nemesis-20170412T0000/index.html has `time_coverage_start` whereas https://data.ioos.us/gliders/erddap/info/Nemesis-20170512T0000/index.html does not.

[2017-08-21 19:34] Bobfrat commented on #130
@BeckyBaltes this should be resolved now but the numbers are inaccurate because it's ignoring the Nemesis dataset that doesn't have a start time.

[2017-08-23 15:34] #123 closed

[2017-08-23 15:34] #121 closed

[2017-08-23 15:46] #111 closed

[2017-08-30 15:47] #95 closed

[2017-08-30 15:51] kwilcox commented on #110
You closed this but the Wiki wasn't ever updated

[2017-08-30 15:53] Bobfrat commented on #93
Will contact USF, we think there is only 1 trajectory

[2017-08-30 15:59] Bobfrat commented on #81
@kwilcox Is there a negative consequence to this we're not aware of? Can we close? Going forward we will try to ensure there is no Z appended to the id's.

[2017-08-30 16:03] kwilcox commented on #81
Just triggers my ocd. Probably not reason enough to cause the headaches @lukecampbell described.

[2017-08-30 16:03] #81 closed

[2017-08-30 16:04] Bobfrat commented on #74
This will be resolved when dataset metadata scanning routines are implemented

[2017-08-30 16:05] Bobfrat commented on #68
No longer relevant

[2017-08-30 16:05] #68 closed

[2017-08-30 16:11] Bobfrat commented on #59
Not going to implement at this point

[2017-08-30 16:11] #59 closed

[2017-08-30 16:13] Bobfrat commented on #56
Still on our radar

[2017-08-30 16:22] Bobfrat commented on #55
This is an issue that will be addressed IOOS program wide (IOOS EDS viewer) that should eventually get into the gliderdac viewer.

@mwengren

[2017-08-30 16:23] #55 closed

[2017-09-08 17:10] kerfoot opened #131 "fix nested aoml directories"
@benjwadams need to fix the 4 SG* nested glider directories.  Something like this for the find:

and then move all NetCDF files from the nested directories up one level and delete the nested directories

[2017-09-13 15:18] Bobfrat commented on #67
Potentially build this into the upload tool front end. Provide users with a link to the report and score.

[2017-09-13 15:29] Bobfrat commented on #52
@RussellSenior is this still an issue?

[2017-09-13 15:31] #51 closed

[2017-09-13 15:39] Bobfrat commented on #50
Working on querying the osmc endpoint for last 24 hrs of released profiles organized by wmo_id

[2017-09-13 15:39] #49 closed

[2017-09-13 15:41] Bobfrat commented on #48
This is fixed now

[2017-09-13 15:41] #48 closed

[2017-09-20 15:20] #18 closed

[2017-09-20 15:46] Bobfrat opened #132 "Identify impact of CF 1.7 on gliderdac datasets"

[2017-09-27 14:11] benjwadams commented on #132
This would be a good place to start:
http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#revhistory

[2017-09-27 15:29] benjwadams commented on #132
Judging by the changelog, there seems to be a lot of projection and coordinate system related changes, which won't really have much of an effect on the metadata we're producing now.  A number of cell methods have been added in Appendix E. There are a number of errata, but most seem to be to clarify the conventions document.

Some things:

`actual_range`, `actual_min`, `actual_max` might be worth l

[2017-09-27 17:04] benjwadams commented on #127
We're set with this now, right?

[2017-12-21 17:34] kwilcox commented on #130
@BeckyBaltes @Bobfrat @benjwadams I came across this issues while searching for issues regarding`Nemesis-20170512T0000`. This dataset does indeed have errors. There is a `time` value of `-2.41265573455303e+105`. This is most likely the root cause of why `time_coverage_start` isn't populated... that number can't be converted to a valid `datetime` using standard algorithms.

Will this dataset be fix

[2017-12-21 19:53] Bobfrat commented on #130
@kwilcox
Good question, we currently don't QAQC the time variable. @kerfoot what are your thoughts on this?

[2017-12-21 20:16] kwilcox commented on #115
Any progress on this? There are multiple offending dataset and my list of workarounds is ever-growing.  `UW130-20160523T1828` is incorrect as well.

[2017-12-21 22:12] benjwadams commented on #115
@kwilcox, the dataset folders in question have valid_min set to -90.0 and valid_max set to 90.0.

In folders for `UCSC260-20150520T0000` and `UW130-20160523T1828`, this is the case.  Below shows the results for `UW130-20160523T1828`, but it's also true for `UCSC260-20150520T0000`:

[code]

[2017-12-21 22:22] benjwadams commented on #115
We could hardcode the longitude in valid_min/max to [-180, 180] in the generated ERDDAP datasets.xml.  This may help, but I don't know if some providers are intentionally using different bounds.  There are tradeoffs to any method.  @kerfoot, any input here?

[2017-12-28 16:03] benjwadams commented on #117
The issue for the datasets mentioned appears to have been fixed.  Closing.

[2017-12-28 16:03] #117 closed

[2017-12-28 16:04] benjwadams commented on #115
@kwilcox, feel free to weigh in here.

[2017-12-29 19:45] kwilcox commented on #115
I'm positive that nobody intended to have a `valid_min` set to -90.0 and `valid_max` set to 90.0 for `longitude`. It is an error in the original data submitted. I'd also like the DAC to expose the raw submitted files in the future so fixing the issue there would be most preferable.

[2018-01-03 17:17] BeckyBaltes commented on #115
@kwilcox, At this point, we are not enforcing the standards we have set up. We are providing them as an opportunity for standardization. However to encourage participation in the DAC and enable providers we do not require compliance for data to be accepted.  We provide some QC testing if it is not done by the provider and offer the compliance checker to providers to identify issues.  However the i

[2018-01-12 15:17] Bobfrat commented on #41
@BeckyBaltes is this the [UG2 page](https://gliders.ioos.us/)? Or do you want a landing page in front of ERDDAP at http://data.ioos.us/gliders

[2018-01-12 15:19] BeckyBaltes commented on #41
I think this is OBE. I think in 2015 the last time this was commented on, we didn't have a glider DAC page at all, so we can close this.

[2018-01-12 15:19] #41 closed

[2018-01-12 15:22] Bobfrat commented on #33
@kerfoot @BeckyBaltes I think everything's up to date on the wiki right?

[2018-01-12 15:33] #33 closed

[2018-01-12 16:13] #127 closed

[2018-01-16 17:08] kerfoot opened #135 "empty aoos deployment folders"
@kwilcox: I think you created the following 3 aoos deployments:

unit-167-20130911T0027
unit-191-20150711T2000
unit-4-20140910T1800

But there are no NetCDF files in  any of these folders.  Do you intend to submit NetCDF files for these deployments or should we delete the deployments?

[2018-01-16 17:24] kwilcox commented on #135
I'll be submitting these soon

[2018-01-17 15:58] benjwadams commented on #131
Nested directories have been deleted.

[2018-01-17 15:58] #131 closed

[2018-02-05 22:07] kwilcox commented on #135
@kerfoot I submitted the first: https://data.ioos.us/gliders/providers/users/aoos/deployment/5a78bbf098723c2c0f74031a

If that ones processes OK through the DAC I've got the data ready for the next three to upload tomorrow.

[2018-02-06 18:06] kerfoot commented on #135
@kwilcox I know we have discussed profile_ids before.  While it's not absolutely necessary, it would be easier on us (and end users) if you started your profile_ids at 1 and incremented them.  Any chance you can start at profile_id=1?

[2018-02-06 18:29] kwilcox commented on #135
I do agree that the `profile_id` as a count is much more user friendly but we can't easily implement that. I'd like to keep the production of the netCDF files limited to the data available in the `*.*bd` data files. There are huge benefits here... a distributed system doesn't need to "know" about previous profiles, doesn't need to keep a tally of how many profiles have gone by, and doesn't need to

[2018-02-06 18:36] kerfoot commented on #135
All other data providers are able to keep a tally of the profile_ids (including myself) and increment them accordingly. So I'm not sure why it can't be easily implemented on your end.

With that said, go ahead an keep implementing it as you are...we will deal with it on our end.

[2018-02-06 18:36] #135 closed

[2018-02-13 13:59] kerfoot opened #136 "deployment registration issue"
@benjwadams I was registering about 26 deployments this morning and, for about half of them, an nginx error page was displayed on submission.  However the deployments were still created.  Can you look in the logs and see if you can find the issue?

[2018-02-15 03:00] kerfoot commented on #136
@benjwadams Here's a screenshot of what I'm seeing:

<img width="1680" alt="screen shot 2018-02-14 at 9 58 33 pm" src="https://user-images.githubusercontent.com/2778797/36238719-5c27d830-11d2-11e8-991b-4d055be72bff.png">

But the deployment is actually created.

[2018-02-20 12:06] kerfoot opened #137 "Datasets not loading"
@benjwadams I uploaded a number of datasets yesterday (around 17 hours ago).  Some loaded as expected, but there are 3 deployments for which there are NetCDF files, but the datasets have still not loaded:

[ce_319-20170410T2034](https://data.ioos.us/gliders/providers/users/rutgers/deployment/5a8b124c98723c3eba435fc7)
[ce_386-20161215T1736](https://data.ioos.us/gliders/providers/users/rutgers/deplo

[2018-03-13 19:27] dpsnowden opened #138 "Incorrect sea_name in OOI gliders"
It looks like there is something hard coded in the OOI processing or formatting software.  Take a look at glider ce_386-20151015T2247 on the [DAC map](https://gliders.ioos.us/map/#) and on the [erddap](https://data.ioos.us/gliders/erddap/tabledap/ce_386-20151015T2247.html).  The sea_name is encoded as

`    String sea_name "Mid-Atlantic Bight";`

but the glider is off the coast of Oregon/Washingto

[2018-03-16 14:20] kerfoot opened #139 "operation not allowed for marking deployment as completed"
@benjwadams I just marked:

https://data.ioos.us/gliders/providers/users/rutgers/deployment/5a63532598723c2c0f740316

as completed and got the following response:
<img width="1680" alt="screen shot 2018-03-16 at 10 19 12 am" src="https://user-images.githubusercontent.com/2778797/37525573-a5d264b2-2903-11e8-90f8-1b560eab3669.png">

But the deployment was marked as completed

[2018-03-16 18:12] benjwadams commented on #139
Odd, I'll check the nginx logs to see what's occurring.

[2018-03-19 15:17] kerfoot opened #140 "recurring dataset update issues"
We're still having significant problems with datasets not updating.  I have been pushing NetCDFs for this deployment:

https://data.ioos.us/gliders/providers/users/rutgers/deployment/5a7b728f98723c1ae33c91ce

over the last 7+ days, yet the dataset has not updated since 3/8:

https://data.ioos.us/gliders/erddap/tabledap/cp_336-20180126T0000.html

[2018-03-19 19:52] BeckyBaltes opened #141 "Glider QC Manual Link dead"
The link to the glider QC manual on https://gliders.ioos.us/data/ isn't working. Please update it. If you need the manual again, let me know.

Becky

[2018-03-19 20:04] Bobfrat commented on #136
@benjwadams I assume this is related to https://github.com/ioos/ioosngdac/issues/139

[2018-03-19 21:28] benjwadams commented on #140
This one is kind of odd.  I reverted to a few commits back and the scripts are pulling in the latest data to the public ERDDAP directory:

[code]

So the files are actually being updated, but the data updates do not appear to be reflected in ERDDAP.  I checked the logs and didn't find anything unusual.  Also created a flag file to kick off a refresh of the data in ERDDAP, but it doesn't seem to be

[2018-03-19 21:39] Bobfrat commented on #140
Seems to be updated on thredds too
https://data.ioos.us/gliders//thredds/dodsC/deployments/rutgers/cp_336-20180126T0000/cp_336-20180126T0000.nc3.nc.html

[2018-03-20 11:44] kerfoot commented on #140
We may need to take a step back and re-evaluate the dataset population:

https://data.ioos.us/gliders/status/

There are 166 missing datasets as of this morning.

[2018-03-20 12:02] kerfoot commented on #140
Looks like an issue with datasets.xml:

ERROR while processing line #60791 datasets.xml: see log.txt for details.

[2018-03-20 14:45] #141 closed

[2018-03-23 20:08] kerfoot commented on #140
@benjwadams

I pushed new files for this deployment:

[cp_339-20180126T0000](https://data.ioos.us/gliders/providers/users/rutgers/deployment/5a7aee0b98723c1ae33c91c9)

9 hours ago and the ERDDAP dataset has not yet updated:

[ERDDAP search](https://data.ioos.us/gliders/erddap/search/advanced.html?page=1&itemsPerPage=1000&searchFor=Ocean+Observatories+Initiative&protocol=%28ANY%29&cdm_data_type=%28

[2018-05-02 18:53] kwilcox commented on #140
Any updates on this? The recent `pelagia-20180401T0000` mission experienced very similar things. It is all OK now and contains the entire deployment but at some points it was days behind the real-time data.

[2018-05-02 19:04] kwilcox opened #142 "Dataset checksums"
Some deployments are missing the `ioos_dac_checksum` global attribute. For background on the attribute see https://github.com/ioos/ioosngdac/issues/58. Without the attribute it is impossible to know if the underlying files (data, qc, metadata attributes, etc.) have changed. The following deployments are affected:

* SG609-20140719T1700
* SG609-20150206T1720
* SG610-20140715T1400
* SG610-20150206T1

[2018-05-15 23:34] shane-axiom commented on #142
In addition to missing `ioos_dac_checksum`s, we're pretty frequently running into an issue where the `ioos_dac_checksum` either isn't updated at all, or isn't updated at the proper time when new data is added to a deployment (I believe it's the latter, @kwilcox can confirm).

UW157-20180417T1832 is experiencing this problem.

@fbahr FYI, this is the issue that is preventing certain glider datasets

[2018-05-15 23:40] flbahr commented on #142
All,
I'm not sure that is a CeNCOOS problem but a GDAC problem.
I don't make or specify any checksum values.
Fred

From: "Shane St Savage" <notifications@github.com>
To: "ioos/ioosngdac" <ioosngdac@noreply.github.com>
Cc: "Fred Bahr" <flbahr@mbari.org>, "Mention" <mention@noreply.github.com>
Sent: Tuesday, May 15, 2018 4:35:17 PM
Subject: Re: [ioos/ioosngdac] Dataset checksums (#142)

In addition

[2018-05-18 17:01] benjwadams commented on #142
This is odd because there are checksums in all the deployments in the database.  I'm looking into the issue to see why they aren't properly propagating to ERDDAP.

[2018-05-18 20:02] shane-axiom commented on #142
@kwilcox said something about it maybe being a sync/timing issue?

[2018-05-21 17:13] benjwadams commented on #142
Update: The deployments listed in @kwilcox's initial post should now have checksums.  Looking into the issue with the checksum updates for other datasets.

[2018-05-22 17:03] shane-axiom commented on #142
@benjwadams Thanks for working on this. I spot checked `mbari/UW157-20180417T1832` and it looks like there's still an issue.

On the [NGDAC ERDDAP](https://data.ioos.us/gliders/erddap/info/UW157-20180417T1832/index.html):

ioos_dac_checksum: 528f36b2a55f9a31d12776309964ab7c
time_coverage_end: 2018-05-22T11:01:48Z

On our local storage:

ioos_dac_checksum: 528f36b2a55f9a31d12776309964ab7c
time_cove

[2018-05-22 17:40] kwilcox commented on #142
Is there a possible race condition between ERDDAP serving new attributes and serving new data? When we see a new checksum we download all of the data... but if ERDDAP has only updated the attributes and not the data we would get a "lag" where we don't get all of the data associated with a particular checksum.

[2018-05-22 18:42] kwilcox opened #143 "NaN value in `time` variable"
The active deployment `sp034-20180514T1938` has a NaN value in the `time` variable: https://data.ioos.us/gliders/erddap/tabledap/sp034-20180514T1938.html. This has happened before but I finally caught a dataset in the act!

![screenshot 2018-05-22 at 2 40 15 pm](https://user-images.githubusercontent.com/13939/40383191-3ca4563a-5dce-11e8-9acb-ce9a2275ab5e.png)

[2018-05-22 18:43] kwilcox commented on #143
Usually issues like this fix themselves over a few days

[2018-05-23 01:03] kwilcox commented on #142
Right now for `UW157-20180417T1832` the checksum is still `528f36b2a55f9a31d12776309964ab7c` but the data has updated to be up to `2018-05-22T17:42:28Z`.

So it does look like the data is updating without the checksums updating.

![screenshot 2018-05-22 at 9 02 21 pm](https://user-images.githubusercontent.com/13939/40397976-95f40a7a-5e03-11e8-8271-1869a36fc567.png)

[2018-05-23 11:42] kwilcox commented on #142
End date is now ` 	2018-05-23T00:30:42Z` but the checksum has not updated. Hopefully this is enough information for you to debug.

[2018-05-23 15:18] dpsnowden opened #144 "Update sample file generation script and docs"
It looks like the sample python [program](https://github.com/ioos/ioosngdac/blob/master/util/createIoosGliderNcTemplate.py) (version 1.0), the [wiki](https://github.com/ioos/ioosngdac/wiki/NGDAC-NetCDF-File-Format-Version-2) (version 2.0), and the [example cdl](https://github.com/ioos/ioosngdac/blob/master/nc/template/IOOS_Glider_NetCDF_v3.0-qartod.cdl) (version 3.0) are out of sync.  This came up

[2018-05-23 20:22] benjwadams commented on #143
Uhh, this is strange:

[code]

I checked the files which comprise the original aggregation and I don't see a NaN.  If I try to request the same time range from the "private ERDDAP", I don't get this NaN.  I'm going to try to regenerate the file to see what it does.

[2018-05-23 21:17] benjwadams commented on #143
As of right now, this looks like some sort of aggregation issue.  The data should also begin at 2018-05-14T19:38, as that's the first time entry in the first file of the aggregation.

[2018-05-24 14:44] benjwadams commented on #139
Unable to reproduce this as a non-admin user when marking a deployment as complete.

[2018-05-24 14:47] #139 closed

[2018-05-30 19:10] benjwadams commented on #142
@kwilcox, because of the current architecture of the way the ERDDAP aggregated datasets are generated, the sync does not occur right away.  The checksum in question appears to have been updated since then.

Checksums are triggered whenever the deployment model is saved and/or updated.  As far as I can tell, this occurs in three different scenarios:

1) Deployment is created or edited through the w

[2018-06-19 18:14] shane-axiom commented on #142
We're still seeing stale checksums, and will have to move forward with unintelligent downloading to make sure that we keep our datasets up to date. If a fix is made to address issue 3) above please ping here so we can stop forcing downloads.

[2018-06-27 17:28] BeckyBaltes opened #145 "Update glider metrics link"
@Bobfrat I have updated the 2017 glider days at https://ioos.noaa.gov/glider-days/. Can you update the glider day metric here, https://gliders.ioos.us/data/metrics with the 2017 numbers?

[2018-06-29 15:04] gitchrisadams commented on #145
https://gliders.ioos.us/data/metrics has been updated with the 2017 numbers.

[2018-06-29 15:09] #145 closed

[2018-07-13 13:59] BeckyBaltes opened #146 "https://gliders.ioos.us/data/ not loading"
@benjwadams The DAC page isn't loading. Can you take a look?

[2018-08-08 16:55] kerfoot commented on #136
This is still happening.  Any idea what the issue is?

[2018-10-10 20:47] #146 closed

[2019-11-19 20:21] Bobfrat opened #147 "Jekyll Site Migration"
GOAL: GitHub Jekyll site is the primary (only) Github interface for the glider DAC, is up to date and provides users with the most current information.

- [x] Migrate existing wiki to the Jekyll site.
- [ ] Review and update information.
- [ ] Sunset old wiki site.

[2019-11-19 20:22] Bobfrat commented on #147
@mwengren do you have any other info to add to this task?

[2019-11-19 21:01] Bobfrat commented on #147
As far as I can tell, the first item has been completed and is available here:
https://ioos.github.io/ioosngdac/

The README points to this site, as does the link on gliders.ioos.us.

Next step is to review and update all the info on the wiki.

@kerfoot maybe we can tag team this part?

[2019-11-20 12:52] mwengren commented on #147
Looks good to me.  Content and link updates are probably the focus for what still needs to be done.

The main fix that I did for the link above was to update our documentation Jekyll template for only the ioosngdac site so the left nav bar doesn't get cut off in some circumstances.

[2020-04-24 01:28] kwilcox opened #149 "Admin panel available to me (a non-admin)"
I logged into the providers website to complete and create a new deployment and noticed a bright green "Admin" button at the top I never noticed before. I didn't start pressing buttons. Hopefully the buttons on the page don't work and authorization is handled elsewhere. Would be best if this view wasn't presented to a "non admin" at all.

![Selection_033](https://user-images.githubusercontent.com/

[2020-04-24 14:02] benjwadams commented on #149
Thanks for re;porting this.   I have found the cause of this issue and will issue a post-mortem briefly.  In the interim, I've downgraded the version to one that does not have this issue.

[2020-04-24 16:11] benjwadams commented on #149
Essentially, a number of libraries were upgraded as part of migration to Python 3 due to the Python 2 EOL back in January.   The usual stuff like unicode and standard library changes were addressed.

  A number of third party library changes also occurred.  Some of the libraries had not been updated in quite some time. The Flask-Login library in particular had a number of code interface changes th

[2020-04-24 16:13] benjwadams commented on #149
Adding some unit/integration test coverage is on the agenda for the DAC once some remaining libraries get updated or replaced so that we can ensure critical functionality is working as intended.

[2020-04-24 16:36] #149 closed

[2020-10-21 13:09] kerfoot opened #154 "Users can ftp files to their home directory"
Just found this out the hard way, but I was able to upload .nc files from a dataset to my data provider home directory.  I'm writing a python ftp script to push files and forgot to add the dataset folder name to the upload path.  But the files were transferred nonetheless.  Probably should not allow this.

[2020-10-21 19:02] benjwadams commented on #154
I'm not entirely clear on the issue here, but I don't see any files uploaded to `/home` subdirectories, and users are chrooted in the current FTP setup.  I will need more clarification on what occurred here.

[2020-10-21 19:43] kerfoot commented on #154
I wrote a python script to automate ftp transfers to the DAC.  In the
script, I forgot to set the dataset directory before I started uploading.
The files were successfully transferred to my data provider home
directory.  This was done on dev and I deleted the files, but can re-create
them if you need proof. Let me know

On Wed, Oct 21, 2020 at 3:02 PM Benjamin Adams <notifications@github.com>
wrot

[2020-10-22 13:23] benjwadams commented on #154
So the directory should be set to `/data/submission/$username`.  We can disable write bit on that particular directory, only relying on the providers application to create the subdirectories.  We'd likely have to have the application running as another user with write permissions so it can create the subdirectories.

[2022-03-23 14:13] kbailey-noaa opened #155 "Add 2021 button to GDAC map"
Pls add a 2021 button to the GDAC map, so it shows all 2021 deployments:
![image](https://user-images.githubusercontent.com/11823385/159719321-597aa9a2-1322-4441-ac9e-24c437ed60c0.png)

[2022-04-19 17:30] kbailey-noaa commented on #155
@kknee I think Ben is out this week and next.  Is it possible to assign this to someone?

[2022-06-01 13:10] kbailey-noaa commented on #155
Resolved

[2022-08-31 14:13] #20 closed

[2022-08-31 14:14] benjwadams commented on #50
Link appears to time out and initial issue is not clear from the context.  Closing.

[2022-08-31 14:14] #50 closed

[2022-09-08 19:34] kerfoot commented on #147
Will update the NetCDF specification on the wiki for this repo, then migrate to Jekyll.

[2022-09-08 19:37] kerfoot commented on #144
Obsolete. closing

[2022-09-08 19:37] #144 closed

[2022-09-08 19:38] kerfoot commented on #143
Responsibility of the data provider to ensure no NaNs in the unlimited dimension (time). Closing

[2022-09-08 19:38] #143 closed

[2022-09-08 19:41] kerfoot commented on #140
Data are now updated using ERDDAP's flagging mechanism. Closing

[2022-09-08 19:41] #140 closed

[2022-09-08 19:42] #136 closed

[2022-09-08 19:42] #132 closed

[2022-09-08 19:44] kerfoot commented on #130
Data provider responsibility. Closing

[2022-09-08 19:44] #130 closed

[2022-09-08 19:44] kerfoot commented on #128
merged by @Bobfrat

[2022-09-08 19:44] #128 closed

[2022-09-08 19:45] kerfoot commented on #124
Implemented file syncing to ensure quick updates. New data sets are added to the catalog at the top of each hour. Closing

[2022-09-08 19:45] #124 closed

[2022-09-08 19:47] kerfoot commented on #120
Updating the NetCDF specification and adding best practices. Closing.

[2022-09-08 19:47] #120 closed

[2022-09-08 19:50] kerfoot commented on #115
Offending data sets appear to be fixed.  If not, please notify us and we will take a look at this again. closing.

[2022-09-08 19:50] #115 closed

[2022-09-08 19:59] kerfoot commented on #110
Need help from @mwengren on how to update wiki at https://ioos.github.io/ioosngdac/. I made changes to the .md page at https://github.com/ioos/ioosngdac/wiki but the changes are not updated at https://ioos.github.io/ioosngdac/

[2022-09-08 20:00] kerfoot commented on #109
Migrating towards standardized vocabularies for instrument, platforms, institutions, etc. Closing.

[2022-09-08 20:00] #109 closed

[2022-09-08 20:00] kerfoot commented on #103
Closed as irrelavant.

[2022-09-08 20:00] #103 closed

[2022-09-08 20:08] kerfoot commented on #101
Migrating towards standardized vocabularies for instruments, platforms and institutions.  Examples:
1. platforms: https://vocab.nerc.ac.uk/search_nvs/B76/
2. instruments: http://vocab.nerc.ac.uk/collection/L22/current/
3. institutions/organizations: http://vocab.nerc.ac.uk/collection/B75/current/

Closing this issue and will open a generalized standardized vocabularies issue.

[2022-09-08 20:08] #101 closed

[2022-09-08 20:11] kerfoot commented on #94
Data provider responsibility, but it is our responsibility to let them know this is an issue and create include in a best practices wiki section.  Will also put together a few "gold standard" NetCDF files for users to use as templates. Closing.

[2022-09-08 20:11] #94 closed

[2022-09-08 20:13] kerfoot commented on #93
This is still an issue in that data set.  Unfortunately, mkhoward is no longer the data manager for this deployment/data set.  We will likely have to correct this ourselves. Leaving open.

[2022-09-08 20:33] kerfoot commented on #87
Implemented compliance checker on incoming data sets. Notification of invalid/missing standard_name values on the deployment registration page and data provider will be notified by @kerfoot

[2022-09-08 20:33] #87 closed

[2022-09-08 20:42] kerfoot commented on #80
Based on historical interaction with data providers in attempts to get them to fix these types of issues has not gone well. The DAC administration team (@kerfoot) will take on the responsibility of fixing these types of metadata issues. Leaving open until I fix the data sets listed above.

[2022-09-08 20:46] kerfoot commented on #74
Related to [101](https://github.com/ioos/ioosngdac/issues/101). Currently, NCEI notifies me of missing entries in their [authority tables](https://gliders.ioos.us/ncei_authority_tables/) and I ok the addition.

[2022-09-08 20:46] kerfoot commented on #74
Related to [101](https://github.com/ioos/ioosngdac/issues/101). Currently, NCEI notifies me of missing entries in their [authority tables](https://gliders.ioos.us/ncei_authority_tables/) and I ok the addition.

[2022-09-08 20:46] kerfoot commented on #67
Done. Compliance checker is run on new data sets.  Need to check on when this done. closing.

[2022-09-08 20:46] #67 closed

[2022-09-08 20:48] kerfoot commented on #62
Another standardized vocabulary item.  Closing and will reopen under a broader standardized vocabulary usage issue.

[2022-09-08 20:48] #62 closed

[2022-09-08 20:50] kerfoot commented on #56
Closing as obsolete.  The plan is to harmonize with the [IOOS Metadata Profile](https://ioos.github.io/ioos-metadata/) and the [OG1.0 specification](https://github.com/OceanGlidersCommunity/OG-format-user-manual)

[2022-09-08 20:50] #56 closed

[2022-09-08 20:51] kerfoot commented on #52
Glider QARTOD QC checks are now implemented and stored in standard variable names.

[2022-09-08 20:51] #52 closed

[2022-09-08 20:52] kerfoot commented on #46
Closed as obsolete and unimportant.

[2022-09-08 20:52] kerfoot commented on #34
Closed.

[2022-09-08 20:52] #34 closed

[2022-09-09 13:17] kerfoot opened #156 "Remove some subset variables from datasets"
The following variables should be removed from the ERDDAP dataset subset service:

1. trajectory
2. wmo_id
3. time_uv
4. lat_uv
5. lon_uv
6. u
7. v

Current subset variables example:

[ru30-20220906T1523.subset]( https://gliders.ioos.us/erddap/tabledap/ru30-20220906T1523.subset)

There is only 1 trajectory and wmo_id for each data sets, so subsetting them based on these variables doesn't make sens

[2022-09-10 20:19] kerfoot opened #157 "Status of qc_agg flags"
Re: email from Kathy on 6/6/2022 on qc_agg flags

Sounds like @leilabbb  was going to take over QC related tasks for the Glider DAC and update us on code and project needs.

Can @leilabbb put this together and update us on the status/progress?

[2022-09-10 20:22] kerfoot opened #158 "Adding contributors for assigning tasks"
How do we add @DonaldMoretti and @leilabbb to this list of Assignees for this repo?

[2022-09-10 20:25] kerfoot opened #159 "Glider DAC server side documentation"
Document all Glider DAC server-side processing to help with optimization, trouble shooting and enhancements.

[2022-09-10 20:35] kerfoot opened #160 "Compliance checking for newly registered deployments"
There is a significant latency on when the compliance checker is run on newly registered deployments.  It has yet to run on the deployments/data sets that have been registered and files uploaded.

1. When does the compliance checker run on newly registered deployments? (Need documentation on this related to [issue 159](https://github.com/ioos/ioosngdac/issues/159)
2. What triggers the compliance c

[2022-09-10 20:59] kerfoot opened #161 "Updating data set status pages"
Finish new status pages, mobile view and migrate to [status end point](https://gliders.ioos.us/status/).

Tasks:
1. Clean up server-side/db scripts
2. Set up ERDDAP image requests and store .png files
3. php migration

[2022-09-10 21:09] kerfoot opened #162 "NCEI authority tables and standardized vocabularies"
Tasks:

1. NCEI should be pushing updated authority tables to the [Glider DAC authority tables endpoint](https://gliders.ioos.us/ncei_authority_tables/), but the tables have not been updated since 2020.
2. Update current NCEI authority tables (institutions, projects, platforms, instruments)
3. Choose standardized vocabularies from:
    + [GCMD](https://www.earthdata.nasa.gov/learn/find-data/idn/gc

[2022-09-10 21:14] kerfoot opened #163 "Include NCEI accession numbers for archived data sets"
Tasks for adding NCEI accession numbers to archived data sets:

1. Search [NCEI geoportal](https://www.ncei.noaa.gov/metadata/geoportal/#searchPane) for data set accession numbers. Not sure if the current API provides a reliable mechanism to retrieve accession numbers.
2. Harvest accession numbers and map them to Glider DAC data set metadata reports.
3. Include the accession numbers as an NC_GLOBA

[2022-09-12 19:21] mwengren commented on #158
I added @leilabbb to the gliderdac team.

@benjwadams You can add/remove members to the gliderdac team as necessary if the current list needs modification (however they first need to be members of the IOOS GH Org):  https://github.com/orgs/ioos/teams/gliderdac/members

[2022-09-12 19:47] kerfoot commented on #158
Thanks. Can either @mwengren or @benjwadams add @DonaldMoretti also?

[2022-09-12 23:25] kerfoot commented on #161
In the meantime, we need to change the link to the existing status page from:

https://gliders.ioos.us/status/

to:

https://marine.rutgers.edu/cool/data/gliders/dac/status/

The current page is way out of date and doesn't reflect the current status of data sets.

[2022-09-13 21:11] benjwadams commented on #156
Created a PR.  Limited subset variables can also be tested on the dev ERDDAP server.

[2022-09-14 13:13] kerfoot opened #164 "Grafana notifications"
I keep getting multiple Grafana notification emails every day.

A few questions:

1. Are these actual warnings that we need to be concerned about?
2. I am unable to log into the Grafana website to view details about the warnings. Can I get an account?

If the answer to either of the above is 'No', then I don't see a reason that I should be receiving the notifications and I would like to be removed

[2022-09-14 14:17] kerfoot commented on #156
merged and closed.

[2022-09-14 14:18] kerfoot commented on #158
Also need to add @mdgrossi as well.

[2022-09-14 14:35] leilabbb commented on #163
This is how I search for a datasets on NCEI:
If you type in the NCEI search box "glider data assembly center" AND "ru30" AND "Rutgers" AND "2018-07-05" you get more precise search about the dataset you are looking for. (The date is from the filename)

[2022-09-14 15:57] kerfoot commented on #163
Followed @leilabbb example and this approach seems to get us to the results we're looking for.  I'm decomposing the search url to write a template that can be used to create the search url based on any number of search parameters.  Will update this issue once I've got it figured out.

[2022-09-15 00:14] benjwadams commented on #164
1) No, Grafana is flapping between a high (accurate) and low (wrong) disk space number for /data/ mount.  In theory the watch should be useful, but under the current circumstances, I'm unable to determine the discrepancy between the numbers and traditional UNIX utils such as `df` and `du` are reporting the high number.  I have silenced the alert for now.

![image](https://user-images.githubusercon

[2022-09-15 04:06] kerfoot commented on #163
I elaborated on Leila's example for searching for accession numbers and wrote a script that takes one or more ERDDAP data set ids, breaks them into the glider name and the date, creates the search query and sends the query to geoportal.  The results are attached as a csv file.  There are a number of columns in the csv, but the ones of interest are:

**dataset_id**
**accession_number**
**html**

If

[2022-09-15 14:49] benjwadams commented on #164
Interestingly this graph is occasionally showing negative free disk space, which is obviously impossible.  I sent some of the Telegraf maintainers a message about how disk is collected and they mentioned this library is used: https://github.com/shirou/gopsutil/blob/v3.22.8/disk/disk.go#L67

[2022-09-15 16:45] benjwadams commented on #160
1/2) Compliance checker is run when the deployment is saved and the deployment is detected as completed if the compliance checker has not already been run.  This could be changed, but the current rationale is that if a deployment has not been marked as completed, later changes may occur to the metadata.

3) As above, it should only be run when the deployment is detected as completed under the curr

[2022-09-16 20:04] kerfoot opened #166 "User submission directory not created on new account creation"
I created a provider user account for Jennifer Sevadjian at her request.  She was able to login to the [registration](https://gliders.ioos.us/providers/) page and change her password, but the data submission folder was not created.  She gets the following error when logging into the ftp server:

    500 OOPS: cannot change directory:/data/submission/jpsevadjian
    ftp: login failed

I think this

[2022-09-16 20:13] kerfoot commented on #158
@mdgrossi added by @mwengren and I've been added as a maintainer of the [IOOS gliderdac team](https://github.com/orgs/ioos/teams/gliderdac) so that I can add existing IOOS contributors to the repo.

Adding new github users as contributors to the IOOS org, so that they can be added as repo contriubtors, must be done through @mwengren, @melissazweng or @MathewBiddle

Closing

[2022-09-16 20:13] #158 closed

[2022-09-16 20:16] kerfoot commented on #162
Per discussions with @mdgrossi, we have decided to use the GCMD providers controlled vocabulary to reconcile the NCEI institutions authority table.  I will clean up the current authority table add add the institutions that are missing.  We will then submit any missing institutions from this table to GCMD and get them added.

[2022-09-16 21:22] kerfoot commented on #166
I was able to sudo to user glider and manually create the top level user submission directory. Jenn confirmed that she is now able to connect to the ftp site.  We still need to figure out why the directory was not created when the account was registered.

[2022-09-17 21:42] kerfoot commented on #156
Reopening...
@benjwadams Existing <dataset /> elements need to have the <subsetVariables /> attribute modified and the catalog needs to be reloaded to remove the bad subset variables.

[2022-09-19 21:36] kerfoot opened #167 "Update ERDDAP to 2.19"
[ERDDAP v2.19 was released on September 1, 2022](https://coastwatch.pfeg.noaa.gov/erddap/download/changes.html).  We should upgrade at the earliest convenience.

Given that we're still in the 2022 Hurricane Season, this can likely be put off until > November 1, 2022.

[2022-09-20 20:07] benjwadams commented on #156
This has to be applied to production -- will do shortly.

[2022-09-21 14:14] kerfoot opened #168 "ERDDAP availability issues"
I've received a few (6 or so) cron error emails over the last 24 hours for the script I've been running hourly to fetch the status page and use it as a proxy for server availability.

I looked in my log files and found the following html response codes:

[408](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/408)
[429](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429)

429 is T

[2022-09-21 18:39] kerfoot commented on #168
I just received an email from a DAC ERDDAP user saying that their request was rejected due to a 429 error (Too many requests).

This is becoming an issue that requires immediate response.

[2022-09-21 19:02] benjwadams commented on #168
Newer ERDDAPs ships with a feature that is enabled by default that prevents too many requests to help with DDoSing.  I will check logs, but I suspect that this is due to that.  We are also reverse proxying requests, so ERDDAP might be seeing the same IP for the reverse proxies.  I'll check logs, but I suspect that this might be related.

[2022-09-21 21:45] benjwadams commented on #168
408:

*** sendErrorCode 408 for request #72014816:
/erddap/tabledap/sg249-20220712T1922.csv?time,latitude,longitude,profile_id,wmo_id
java.util.concurrent.TimeoutException: Timeout waiting for your other requests to process. Please make just one request at a time.

[2022-09-21 22:02] benjwadams commented on #168
The previous log.txt archival got clobbered because there are so many logs being written right now.  However, 429 was returning against a Rutgers IP of 165.230.166.171, indicating too many requests were being made:

[code]

[2022-09-21 22:12] benjwadams commented on #168
Found a relevant excerpt for the 429 with a Rutgers IP:

[code]

@BobSimons, is this part of DoS protection that certain IPs can be allowlisted and this will go away?
@kerfoot, are the scripts Rutgers is waiting for the responses or running asynchronously?  The latter may cause this to happen under conditions of heavy load, which the server is currently experiencing.

[2022-09-21 22:30] benjwadams commented on #168
Yeah, here's the section in `setup.xml` I was thinking of:

[code]

Any way to change this and reload the config without requiring a restart?

[2022-09-22 16:47] BobSimons commented on #168
All three of the ipAddress... tags belong in datasets.xml, not setup.xml. Changes to their values are applied every time ERDDAP reads datasets.xml -- you don't need to restart ERDDAP.

[2022-09-22 21:52] kerfoot commented on #168
Update:

@benjwadams can fill in the details, but today (2022-09-22) the system was shut down and the AWS instance was upgraded. This will result in a change in operating costs but, so far, it seems worth it. @benjwadams : what is the name/class of the new instance?

ERDDAP (v2.18, [needs to be upgraded](https://github.com/ioos/ioosngdac/issues/167)) was restarted.  We're still not sure why (poten

[2022-09-22 21:52] #168 closed

[2022-09-22 21:56] kerfoot commented on #167
Since the [recent system upgrade and ERDDAP restart went smoothly](https://github.com/ioos/ioosngdac/issues/168#issuecomment-1255592699), we should consider [upgrading to ERDDAP v2.19](https://coastwatch.pfeg.noaa.gov/erddap/download/changes.html#changes2.19) next week. We can discuss on the 2022-09-28 status call.

[2022-09-29 00:47] kerfoot commented on #167
Closing and waiting for v2.20 to be released per Bob Simons email correspondence:

"...With v2.20 (soon -- **don't use v2.19 because it is flawed**), nThreads works much better and request 2 above will be filled much faster."

[2022-09-29 00:47] #167 closed

[2022-09-29 00:53] kerfoot opened #169 "Write new datasets.xml to a temporary file until complete"
It appears that each time the content of **datasets.xml** is rewritten, it is written directly to **datasets.xml** in place. Errors are generated when a majorReloadDatasets event occurs during this write process as the file is incomplete.

Suggest writing new **datasets.xml** to something like **datasets.xml.new**, then moving to **datasets.xml** to prevent reading of incomplete file during a relo

[2022-10-03 21:11] mdgrossi commented on #163
Both real time and delayed mode data are archived together within the same accession. So, for a given accession number NNNNNNN, the landing page will take you to whatever data NCEI has - real time, delayed mode, or both:
https://www.ncei.noaa.gov/archive/accession/NNNNNNN

[2022-10-05 17:19] leilabbb commented on #157
A script is ready to use to replace the standard names with the IOOS Requirements for the QARTOD Aggregate/Rollup Flags.

[2022-10-25 01:44] kerfoot commented on #156
wmo_id and trajectory added to subset variables. Performance is exceptional. Closing.

[2022-10-25 01:44] #156 closed

[2022-10-25 01:48] kerfoot commented on #164
Closing. Not sure this is worth the time to figure out the best approach.

[2022-10-25 01:50] kerfoot commented on #161
Web pages are up on dev-gliders.ioos.us and the db is being updated at @hourly frequency. Working on adding db updates to production machine. Goal is to be finished by 10/26/2022.

[2022-10-25 21:04] kerfoot commented on #166
2 new user accounts were created in the last week or so.  For both, the username directories were not created. This is the 3rd consecutive time this has happened, so it looks like this mechanism is broke.  The top level directory:

/data/data/priv_erddap/USERNAME

is no longer being created on account creation.

[2022-11-05 19:18] kerfoot opened #171 "Resolving registered user accounts"
There are 63 registered user accounts on the [account registration page](https://gliders.ioos.us/providers/admin), but only 36 submission directories at:

/data/data/priv_erddap

and only 36 submission directories at:

/data/submission

What is the best way to resolve this discrepancy?  I can contact the POCs for each registered account to figure out which ones are actually active.  Then, should w

[2022-11-08 21:31] benjwadams commented on #166
Fixed in latest deployed version.  Closing.

[2022-11-08 21:31] #166 closed

[2022-11-17 20:59] mdgrossi commented on #162
We have found a way to make the authority tables available for you to programmatically pull. The text files are currently set to be automatically updated weekly, but that can easily be adjusted up or down if desired. Will send the WAF URL in an email.

[2022-11-17 21:20] mdgrossi commented on #163
FYI: The pagination on the new IOOS Glider DAC Accession Records pages do not seem to be working properly. The "Show All" button does, however.

[2022-11-17 21:22] kerfoot opened #172 "Harvest updated NCEI authority tables"
Per Matt Grossi (@mdgrossi):

We need to set up a mirror for these updated tables to the IOOS DAC NCEI authority tables end point:

https://gliders.ioos.us/ncei_authority_tables/

The mirror should run weekly to stay on schedule with NCEI updates.

[2022-11-17 21:29] benjwadams commented on #154
As far as I know, this isn't easily addressable with Linux FACLs without also disabling write permissions in the "base" FTP virtual directory.   It's possible to disable write to the base directory, but then users will have to create a deployment only through the providers application.

[2022-11-18 01:58] kerfoot opened #173 "broken accession records pagination"
The NCEI accession pages pagination is broken.  The same data sets are displayed when clicking on Next, Previous or any of the page links

From @mdgrossi:

Will fix this asap.

[2022-11-19 15:04] kerfoot commented on #164
Reopening this. I've started to get batches of these roughly every 4 hours and 5 minutes saying all aspects of the DAC are down.  I do not know if they are actually down, but I am spending time trying to figure out that I would rather spend elsewhere.  Can we confirm that these notifications reflect the actual state of the DAC? If we cannot confirm this, at a minimum I want to be removed from the

[2022-11-19 15:04] kerfoot commented on #173
Fixed and confirmed by @mdgrossi

[2022-11-19 15:04] #173 closed

[2022-11-21 14:30] kerfoot commented on #163
Related to [172](https://github.com/ioos/ioosngdac/issues/172)

[2022-11-21 14:31] kerfoot commented on #172
Related to [163](https://github.com/ioos/ioosngdac/issues/163)

[2022-11-22 16:28] kerfoot commented on #154
Understood. I'll close this for now and we'll likely have to deal with the situation, when it comes up, by hand.

[2022-11-22 16:28] #154 closed